<%= form_for :attached_file, url: attach_file_path(@attached_file), html: { :multipart => true } do |f| -%> 
  
  <%= hidden_field_tag(:obj_klass, obj.class.name)%>
  <%= hidden_field_tag(:obj_id, obj.id)%>

  <div class="col-sm-8">
  <div class="card">
    <h6 class="card-header">New <%= name_of_klass(obj).downcase %>&nbsp;attachment:</h6>
    <div class="card-body">

      <div class="form-group row">
        <label for="document" class="col-auto col-form-label col-form-label-sm">File Name:</label>
        <div class="col-auto">
          <%= f.file_field :document, size: 30 %>  <%= f.hidden_field :document_cache %>
        </div>
      </div>

      <div class="form-group row">
        <label for="notes" class="col-auto col-form-label col-form-label-sm">Notes:</label>
        <div class="col-auto">
          <%= f.text_field :notes, size: 65, class: "form-control" %>
        </div>
      </div>
    </div>
  </div>
  </div>

<%=f.submit("Upload File", class: "btn btn-primary")%>
<% end %>
