<% add_file_button ||= 'yes'%>

<div class="card">
  <h6 class="card-header"><%= name_of_klass(obj) %>&nbsp;Attached Files:</h6>
  <div class="card-body">
    <% if obj.attached_files && !obj.attached_files.empty? %>
      <% obj.attached_files.each do |att_file| %>
        <div class="row row-bordered">
          <div class="col-sm-3" style="min-width:95px"><%=link_to att_file.doc_filename, att_file %></div>
          <div class="col-sm-3"><%=h att_file.notes %></div>
          <div class="col-sm-2"><%=link_to 'Delete', att_file, data: {:confirm => 'Are you sure?'}, :method => :delete %></div>
        </div>
      <% end %>
    <% end %>

    <% if add_file_button == 'yes' %>
      <div class="row">
        <% if obj.attached_files.empty? %><div class="col-sm-2">None</div><% end %>
        <div id="add_new" class="offset-1 col-sm-2 linkborder"><%= link_to "New Attachment", '', :onclick => "showHideDiv('add_new','newfile'); return false;" %></div>
      </div>
    <% end %>

  </div>
</div>

<br/>
<div id="newfile" style="display:none">
  <%= render :partial => '/attached_files/add_file', :locals => {:obj => obj} %>
</div>
