<% if source_sample.samples && source_sample.samples.size > 0 %> 
<h6>Dissected Samples (<%= source_sample.samples.size %> samples)</h6>
  <table class="table table-bordered table-sm table-font-sm">
  <thead class="thead-light thead-font-sm">
  <tr>
    <th>Barcode</th>
    <th>Alt ID</th>
    <th>Sample Date</th>
    <th>Sample Type</th>
    <th>Container Type</th>
    <th>Amount(Initial)</th>
    <th>Rem?</th>
    <th>Room/Freezer</th>
    <th>Container</th>
  </tr>
  </thead>

  <% for sample in source_sample.samples %>
    <tr>
      <td><%=link_to sample.barcode_key, sample_path(sample)%></td>
      <td><%=h sample.alt_identifier %></td>
      <td><%=h sample.sample_date %></td>
      <td><%=h sample.sample_category %></td>
      <td><%=h sample.container_type %></td>
      <td><%=h sample.sample_amt %></td>
      <td><%=h sample.sample_remaining%></td>
      <td><%=h sample.room_and_freezer %></td>
      <td><%=h sample.container_and_position %></td>
	</tr> 
  <% end %>
  </table>
 <% end %>
