<h6>Sample Details:</h6>
<table class="table table-bordered table-sm table-font-sm">
  <thead class="thead-light thead-font-sm">
  <tr>
    <th>Barcode</th>
    <th>Alt ID</th>
    <th>Date</th>
    <th>Sample Type</th>
    <th>Preservation</th>
    <th>OR Designation</th>
    <th>Container Type</th>
    <th>Sample Amt</th>
    <th>Rem?</th>
    <th>Room/Freezer</th>
    <th>Storage Container</th>
    <th></th>
  </tr>
  </thead>

  <tr>
    <td><%=h link_to sample.barcode_key, sample_path(sample) %></td>
    <td><%=h sample.alt_identifier %></td>
    <td><%=h sample.sample_date %></td>
    <td><%=h [sample.sample_tissue, sample.sample_type].join('/') %></td>
    <td><%=h sample.tissue_preservation %></td>
    <td><%=h sample.tumor_normal %></td>
    <td><%=h sample.container_type %></td>
    <td><%=h sample.sample_amt %></td>
    <td><%=h sample.sample_remaining %></td>
    <td><%=h sample.room_and_freezer %></td>
    <td><%=h  sample.container_and_position %></td>
    <td><% if can? :edit, sample %><%= link_to 'Edit', edit_sample_path(sample) %><% end %></td>
  </tr>

  <% unless sample.comments.blank? %>
    <tr><td></td><td colspan="10"><%=h sample.comments %></td><td></td></tr>
  <% end %>
</table>
