<div class="card">
  <h6 class="card-header">Physical Sample</h6>
  <table class="table table-borderless table-sm">
    <tr>
      <thead></thead>
      <tbody>
        <tr>
          <td class="label">
            <label for="barcode_key" class="col-auto col-form-label col-form-label-sm">Barcode:</label>
          </td>
          <td><%=f.object.barcode_key %></td>          
          <td class="label">
            <label for="alt_identifier" class="col-auto col-form-label col-form-label-sm">Alt Label:</label>
          </td>
          <td><%=f.text_field(:alt_identifier, size: 12, class: "form-control", style: "width:12rem;")%></td>
          <td class="label text-nowrap">
            <label for="tumor_normal" class="col-auto col-form-label col-form-label-sm">OR Designation:</label>            
          </td>
          <td>
            <%=f.collection_select(:tumor_normal, @tumor_normal, :c_value, :c_value, {style: "width:12rem;"}, {class: "form-control"}) %>
          </td>
        </tr>
        <tr>
          <td class="label">
            <label for="sample_tissue" class="col-auto col-form-label col-form-label-sm">Sample Site:</label>
          </td>
          <td>
            <%=f.collection_select(:sample_tissue, @source_tissue, :c_value, :c_value, {:wraptags => 'none'}, {class: "form-control"})%>
          </td>
          <td class="label">
            <label for="left_right" class="col-auto col-form-label col-form-label-sm">Left or Right:</label>
          </td>
          <td>      
            <%=f.select(:left_right, [['NA',nil],['L','L'],['R','R']], {:wraptags => 'none'}, {class: "form-control"}) %>
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="label text-nowrap">
            <label for="sample_type" class="col-auto col-form-label col-form-label-sm">Sample Type:</label>
          </td>
          <td>      
            <%=f.collection_select(:sample_type, @sample_type, :c_value, :c_value, {}, {class: "form-control"})%>
          </td>
          <td class="label">
            <label for="tissue_preservation" class="col-auto col-form-label col-form-label-sm">Preservation:</label>
          </td>
          <td> 
            <%=f.collection_select(:tissue_preservation, @preservation, :c_value, :c_value,
                            {:include_blank => true}, {class: "form-control"})%>
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="label">
            <label for="sample_container" class="col-auto col-form-label col-form-label-sm">Container:</label>
          </td>
          <td>
            <%=f.collection_select(:sample_container, @sample_units, :c_value, :c_value, {}, {class: "form-control"})%>
          </td>
          <td class="label">
            <label for="vial_type" class="col-auto col-form-label col-form-label-sm">Vial Type:</label>
          </td>
          <td>
            <%=f.collection_select(:vial_type, @vial_types, :c_value, :c_value, {:include_blank => true}, {class: "form-control"})%>
          </td>
          <td></td>
          <td></td>
        </tr>
         <tr>
          <td class="label">           
            <label for="amount_uom" class="col-auto col-form-label col-form-label-sm">Amt Unit:</label>
          </td>
          <td>
            <%=f.collection_select(:amount_uom, @amount_uom, :c_value, :c_value, {}, {class: "form-control"})%>
          </td>
          <td class="label">
            <label for="amount_initial" class="col-auto col-form-label col-form-label-sm">Initial Amt:</label>
          </td>
          <td>      
            <%=f.text_field :amount_initial, size: 10, class: "form-control" %>
          </td>
          <td class="label">            
            <label for="sample_remaining" class="col-auto col-form-label col-form-label-sm">Rem?:</label>
          </td>
          <td><%=f.select(:sample_remaining, %w[Y N], {}, {class: "form-control"})%></td>
        </tr>
         <tr>
          <td>
            <label for="comments" class="col-auto col-form-label col-form-label-sm">Comments:</label>
          </td>
          <td colspan="5">      
            <%=f.text_field :comments, cols: 50, class: "form-control" %>
          </td>
        </tr>
      </tbody>
    </tr>
  </table>

</div>  <!-- card -->

  <%= f.fields_for :sample_storage_container do |c| %>
    <% if @edit_sample_storage %>
      <%= render :partial => 'shared/storage_container_edit', :locals => {f: c, barcode: f.object.barcode_key} %>
    <% else %>
      <%= render :partial => 'shared/storage_container_new', :locals => {f: c, barcode: f.object.barcode_key} %>
    <% end %>
  <% end %>

