<h6>Dissection Details:</h6>
<table class="table table-bordered table-sm table-font-sm">
  <thead class="thead-light thead-font-sm">
  <tr>
    <th>Barcode</th>
    <th>Date</th>
    <th>Sample Type</th>
    <th>Container Type</th>
    <th>Sample Amt</th>
    <th>Remaining?</th>
    <th>Room/Freezer</th>
    <th>Storage Container</th>
  </tr>
  </thead>

  <tr>
    <td><%=h link_to sample.barcode_key, dissected_sample_path(sample) %></td>
    <td><%=h sample.sample_date %></td>
    <td><%=h [sample.sample_tissue, sample.sample_type].join('/') %></td>
    <td><%=h sample.container_type %></td>
    <td><%=h sample.sample_amt %></td>
    <td><%=h sample.sample_remaining %></td>
    <td><%=h sample.room_and_freezer %></td>
    <td><%=h  sample.container_and_position %></td>
    <% if can? :edit, sample %> <td><%= link_to 'Edit', edit_sample_path(sample) %></td><% end %>
  </tr>

  <% unless sample.comments.blank? %>
    <tr><td></td><td colspan="7"><%=h sample.comments %></td></tr>
  <% end %>
</table>
