<h5>Image Processing (Filtered) </h5>

<table class="table table-bordered table-sm table-font-sm">
  <thead class="thead-light">
  <tr>
  	<th>Imaging_Key</th>
		<th>Protocol</th>
		<th>Description</th>
		<th>Owner</th>
		<th>Imaging Slide(s)</th>
    <th colspan="2"></th>
  </tr>
  </thead>

<% for imaging_run in @imaging_runs %>
  <tr>
  	<td><%= link_to imaging_run.imaging_key, imaging_run %></td>
		<td><%=h imaging_run.protocol.short_name %></td>
		<td><%=h imaging_run.run_description %></td>
		<td><%=h imaging_run.user.login %></td>

		<% if imaging_run.imaging_slides %>
			<td><!--%= link_to imaging_slide.imaging_run.imaging_key, imaging_slide.imaging_run %-->
			    <%=h imaging_run.imaging_slides.collect{|s| s.slide_number }.join(', ') %>
			</td>
		<% else %>
			<td>&nbsp;</td>
		<% end %>
	
	<% if can? :edit, imaging_run %>
	  <td><%= link_to 'Edit', edit_imaging_run_path(imaging_run) %></td>
	<% else %>
      <td class="ltgrey"> Edit </td>
    <% end %>
	
	<% if can? :delete, imaging_run %>
	  <td><%= link_to 'Delete', imaging_run, data: { confirm: 'Are you sure?' }, :method => :delete %></td>
    <% else %>
      <td class="ltgrey"> Delete </td>
	<% end %>  
  </tr>
  <% end %>
</table>

