<%= form_for @imaging_query, :action => 'index', :method => :get do |f| %>
<%= render '/shared/errors', model: @imaging_query, header_message: 'Error(s) in query parameters' %>

<div class="card">
  <h6 class="card-header">Imaging Query</h6>
  <div class="card-body">

  <div class="form-group row">
    <p class="font-italic font-sm col-sm-10 ml-sm-auto">Enter multiple slides separated by commas;
      Enter run numbers as integers separated by commas and/or dashes e.g. '1-3,5,7'</p>
  </div>

  <div class="form-group row">
    <label for="slide_nr_string" class="col-sm-2 col-form-label col-form-label-sm">Slide#(s):</label>
    <div class="col-sm-4">
      <%= f.text_field(:slide_nr_string, :size => "50", class: "form-control")%>
    </div>
    <label for="slide_nr_string" class="col-sm-1 col-form-label col-form-label-sm">Run#(s):</label>
    <div class="col-sm-3">
      <%= f.text_field(:run_nr_string, :size => "50", class: "form-control")%>
    </div>
  </div>

  <div class="form-group row">
    <label for="owner" class="col-sm-2 col-form-label col-form-label-sm">Owner(s):</label>
    <div class="col-sm-3">
      <%= f.select(:owner, @owners, {:include_blank => '(All)'},{:size => 3, :multiple => :multiple, class: "form-control"}) %>
    </div>
  </div>

  <div class="form-group row">
    <label for="from_date" class="col-sm-2 col-form-label col-form-label-sm">Assay Date From:</label>
    <div class="col-auto">
      <%= f.date_field 'from_date', max: Time.current.to_date, class: "form-control" %>
    </div>

    <label for="to_date" class="col-auto col-form-label col-form-label-sm">To:</label>
    <div class="col-auto">
      <%= f.date_field 'to_date', max: Time.current.to_date, class: "form-control" %>
    </div>
  </div>

  </div>
</div>
<br/>

<div class="form-group row">
  <label for="rpt_type" class="col-auto col-form-label col-form-label-sm pt-2">List By:</label>
  <div class="col-auto pt-2">
    <%= select_tag(:rpt_order, options_for_select([["Slide", "slides"], ["Run", "run"]]),
                   {class: "form-control"}) %>
  </div>

  <div class="col-auto pt-0">
    <%= submit_tag "Submit", class: "btn btn-primary" %>
  </div>
</div>
<%end%>
