<table class="table table-bordered table-sm table-font-sm">
  <thead class="thead-light">
  <tr>
    <th>Assign Date</th>
    <th>Group</th>
    <th>Owner</th>
    <th>Sample Type</th>
    <th>Start Barcode</th>
    <th>End Barcode</th>
  </tr>
  </thead>
  <tr>
    <td><%=f.date_field :assign_date, value: Time.current.to_date %>
    <td><%=f.text_field :group_name %></td>
    <td><%=f.text_field :owner_name %></td>
    <td><%=f.text_field :sample_type %></td>
    <td><%=f.text_field :start_barcode, :size => 10 %></td>
    <td><%=f.text_field :end_barcode, :size => 10 %></td>
  </tr>
</table>
