<h6>Sample Acquisition:</h6>
<table class="table table-bordered table-sm table-font-sm">
  <thead class="thead-light thead-font-sm">
  <tr>
    <th>Collection Date</th>
    <th>Clinic</th>
    <th>Consent Protocol</th>
    <% if sample_characteristic.from_nccc? %>
      <th>NCCC Tumor ID</th>
      <th>NCCC Path No.</th>
    <% end %>
    <th>&nbsp;</th>
  </tr>
  </thead>

  <tr>
    <td><%=h link_to sample_characteristic.collection_date, sample_characteristic_path(sample_characteristic) %></td>
    <td><%=h sample_characteristic.clinic_or_location %></td>
    <td><%=h sample_characteristic.consent_descr %></td>
    <% if sample_characteristic.from_nccc? %>
      <td><%=h sample_characteristic.nccc_tumor_id %></td>
      <td><%=h sample_characteristic.nccc_pathno %></td>
    <% end %>
    <% if can? :edit, sample_characteristic %> <td><%= link_to 'Edit', edit_sample_characteristic_path(sample_characteristic) %></td><% end %>
  </tr>
</table>
