<h6>Patient/Sample Acquisition:</h6>
<table class="table table-bordered table-sm table-font-sm">
  <thead class="thead-light thead-font-sm">
  <tr>
    <th>PatientID</th>
    <th>Gender</th>
    <th>Race/Ethnicity</th>
    <th>Collection Date</th>
    <th>Primary Dx</th>
    <th>Clinic</th>
    <th>Consent Protocol</th>
    <th>&nbsp;</th>
  </tr>
  </thead>

  <tr>
    <td><%=h patient.id %></td>
    <td><%=h patient.gender %></td>
    <td><%=h [patient.race, patient.ethnicity].join('/') %></td>
    <td><%=h link_to sample_characteristic.collection_date, sample_characteristic_path(sample_characteristic) %></td>
    <td><%=h sample_characteristic.disease_primary %></td>
    <td><%=h sample_characteristic.clinic_or_location %></td>
    <td><%=h sample_characteristic.consent_descr %></td>
    <% if can? :edit, sample_characteristic %> <td><%= link_to 'Edit', edit_sample_characteristic_path(sample_characteristic) %></td><% end %>
  </tr>
</table>

<!-- Include pathology information if available -->
<% if !sample_characteristic.pathology.nil? %>
  <%= render :partial => 'pathologies/pathology_summary', :locals => {:pathology => sample_characteristic.pathology, :histology => nil} %>
<% end %>
