<% removable ||= 'no' %>

<%= render '/shared/errors', model: s.object %>

<div id="samples" class="card"> 
  <%=s.hidden_field(:patient_id, :value => @patient_id) %>

  <h6 class="card-header">Physical Sample</h6> 
  <div class="card-body">

  <div class="form-group row">
    <label for="barcode_key" class="col-auto col-form-label col-form-label-sm">Barcode:</label>
    <div class="col-auto">
      <%=s.text_field :barcode_key, class: "form-control" %>
    </div>

    <label for="alt_identifier" class="col-auto col-form-label col-form-label-sm">Alt Label:</label>
    <div class="col-auto">
      <%=s.text_field(:alt_identifier, class: "form-control") %>
    </div>
  </div>
	
  <div class="form-group row">
    <label for="tumor_normal" class="col-auto col-form-label col-form-label-sm">OR Designation:</label>
    <div class="col-auto">
      <%=s.collection_select(:tumor_normal, @tumor_normal, :c_value, :c_value, {}, {class: "form-control"}) %>
    </div>

    <label for="sample_tissue" class="col-auto col-form-label col-form-label-sm">Sample Site:</label>
    <div class="col-auto">
      <%=s.collection_select(:sample_tissue, @source_tissue, :c_value, :c_value, {}, {class: "form-control"})%>
    </div>
    <label for="left_right" class="col-auto col-form-label col-form-label-sm">Left or Right:</label>
    <div class="col-auto">
      <%=s.select(:left_right, [['NA',nil],['L','L'],['R','R']], {}, {class: "form-control"}) %>
    </div>
  </div>

  <div class="form-group row">
    <label for="sample_type" class="col-auto col-form-label col-form-label-sm">Sample Type:</label>
    <div class="col-auto">
      <%=s.collection_select(:sample_type, @sample_type, :c_value, :c_value, {}, {class: "form-control"})%>
    </div>

    <label for="tissue_preservation" class="col-auto col-form-label col-form-label-sm">Preservation:</label>
    <div class="col-auto">
      <%=s.collection_select(:tissue_preservation, @preservation, :c_value, :c_value, {:include_blank => true}, {class: "form-control"})%>
    </div>
  </div>

  <div class="form-group row">
    <label for="sample_container" class="col-auto col-form-label col-form-label-sm">Container:</label>
    <div class="col-auto">
      <%=s.collection_select(:sample_container, @sample_units, :c_value, :c_value, {}, {class: "form-control"})%>
    </div>

    <label for="vial_type" class="col-auto col-form-label col-form-label-sm">Vial Type:</label>
    <div class="col-auto">
      <%=s.collection_select(:vial_type, @vial_types, :c_value, :c_value, {:include_blank => true}, {class: "form-control"})%>
    </div>
  </div>

  <div class="form-group row">
    <label for="amount_uom" class="col-auto col-form-label col-form-label-sm">Amt Unit:</label>
    <div class="col-auto">
      <%=s.collection_select(:amount_uom, @amount_uom, :c_value, :c_value, {}, {class: "form-control"})%>
    </div>
	  
    <% if s.object.new_record? %>

    <label for="amount_initial" class="col-auto col-form-label col-form-label-sm">Amount:</label>
    <div class="col-auto">
      <%=s.text_field :amount_initial, class: "form-control" %>
    </div>

    <label for="sample_remaining" class="col-auto col-form-label col-form-label-sm">Sample Rem?:</label>
    <div class="col-auto">
      <%=s.select(:sample_remaining, %w[Y N], {}, {class: "form-control"}) %>
    </div>

    <% else %>

    <label for="amount_initial" class="col-auto col-form-label col-form-label-sm">Amount-Initial:</label>
    <div class="col-auto">
      <%=s.text_field :amount_initial, class: "form-control" %>
    </div>

    <label for="sample_remaining" class="col-auto col-form-label col-form-label-sm">Sample Rem?:</label>
    <div class="col-auto">
      <%=s.select(:sample_remaining, %w[Y N U], {}, {class: "form-control"}) %>
    </div>

    <label for="amount_rem" class="col-auto col-form-label col-form-label-sm">Amount-Rem:</label>
    <div class="col-auto">
      <%=s.text_field :amount_rem, class: "form-control" %>
    </div>

    <% end %>
  </div>

  <div class="form-group row">
    <label for="comments" class="col-auto col-form-label col-form-label-sm">Comments:</label>
    <div class="col-auto">
      <%=s.text_area :comments, cols: 80, rows: 2, class: "form-control"%>
    </div>
  </div>

  </div> <!-- end of card body -->
</div>

  <%= s.fields_for :sample_storage_container do |g| %>
    <% if edit_sample_storage %>
      <%= render :partial => 'shared/storage_container_edit', :locals => {:f => g, :barcode => s.object.barcode_key} %>
    <% else %>
      <%= render :partial => 'shared/storage_container_new', :locals => {:f => g, :barcode => s.object.barcode_key} %>
    <% end %>
  <% end %>
