<h5>Listing <%= @type_of_sample.camelize %>&nbsp;Samples - <%=h @heading_string %></h5>
<h6><%=h @nr_samples[0] %> source samples, (for <%=h @samples_by_patient.size -%> patients)</h6>

<%= form_tag :action => :export_samples do %>

  <div class="row form-group source-select">
    <div class="col-auto">
      <%= submit_tag "Export Samples", class: "btn btn-secondary" -%>
    </div>

    <label class="col-auto col-form-label">Sample Type:</label>
    <div class="col-auto">
      <select class="form-control">
        <option value="">All</option>
        <option value="is-source">Source</option>
        <option value="is-dissection">Dissection</option>
      </select>
    </div>

    <div class="col-auto">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Apply to Selected
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a id="update-sample" class="dropdown-item" >Update Samples</a>
          <a id="enter-dissection" class="dropdown-item" >Enter Dissections</a>
        </div>
    </div>
  </div>

  <div class="top-alert-box">
  </div>

<table class="data-table compact table table-bordered table-striped table-sm table-font-sm">
<thead>
  <tr>
    <th></th> <!-- hold source sample indicator tag -->
    <th>Patient ID</th>
    <th>Barcode</th>
    <th>Sample Date</th>
    <th>Sample Type</th>
    <th>OR Designation</th>
    <th>Sample H&E</th>
    <th>Rem?</th>
    <th>Room/Freezer</th>
    <th>Container</th>
    <th>Upd By</th>
  </tr>
</thead>
  
  <% if @samples_by_patient %>
    <% @samples_by_patient.sort.each do | patient_id, samples| %>

    <% for sample in samples %>
      <tr>

      <!-- hidden column used for filtering -->
      <% if sample.source_sample_id.nil? %>
        <td class="source-tag">is-source</td>
      <% else %>
        <td class="source-tag">is-dissection</td>
      <% end %>

        <td><%==link_to patient_id[0], "#{sample_queries_path}?#{{patient_id: patient_id[0], rpt_type: "tree"}.to_query(:sample_query)}" %></td>
        <td><%=link_to sample.barcode_key, sample_path(sample) %></td>
        <td><%=h sample.sample_date %></td>
        <td><%=h sample.sample_category %></td>
        <td><%=h sample.tumor_normal %></td>
        <td><% if sample.sample_characteristic.pathology %><%=h sample.sample_characteristic.pathology.pathology_classification %><% end %></td>
        <td><%=h sample.sample_remaining %></td>
        <td><%=h sample.room_and_freezer %></td>
        <td><%=h sample.container_and_position %></td>
        <td><%=h sample.user.login if sample.user %></td>

        <%= hidden_field_tag("export_id[]", sample.id)  %>

      </tr>
    <% end %>
	
    <% end %>
  <% end %>
</table>
<% end %>

<!-- lightbox templates -->
<div style="display: none">

  <!-- content for lightbox -->
  <div class="action-lightbox">
    <h4 class="lightbox-title"></h4>
    <hr/>
    <div class="flash-box">
      <!-- ajax flash messages go here -->
    </div>
    <div class="lightbox-body">
      <!-- ajax returned content goes here -->
    </div>
    <hr/>
    <div class="lightbox-footer">
      <div class="alert-box">
        <!-- alerts go here -->
      </div>
      <button type="button" class="next-button btn btn-default"></button>
      <button type="button" class="again-button btn btn-default"></button>
      <button type="button" class="cancel-button btn btn-default">Cancel All</button>
      <span class="selections-left"></span>
    </div>
  </div>

  <!-- alert template to insert into alert-box -->
  <div class="alert-template alert alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

</div>
