<% a_html_options = {class: "list-group-item font-sm"} %>
 <!--
 <div class="list-group">

  <li class="list-group-item active">
    Queries:
  </li>

  <%= link_to 'Source/Dissections', unprocessed_query_path, a_html_options%>
  <%= link_to 'H&E Slides', he_query_path, a_html_options %>
  <%= link_to 'Extracted Samples',  processed_query_path, a_html_options %>
  <%= link_to 'Molecular Assays', mol_assay_query_path, a_html_options %>
  <%= link_to 'Seq Libs', seqlib_query_path, a_html_options %>
  <%= link_to 'Seq Runs', seq_run_query_path, a_html_options %>
  <%= link_to 'Storage Containers', container_query_path, a_html_options %>

  <li class="list-group-item active">
    Uploads:
  </li>

  <%= link_to 'Patients/Samples', bulk_upload_path, a_html_options %>

  <li class="list-group-item active">
    Lookup Tables:
  </li>

  <%= link_to 'General Drop-Downs', categories_path, a_html_options %>
  <%= link_to 'Consent Protocols', consent_protocols_path, a_html_options %>
  <%= link_to 'Molecular Protocols', select_protocol_type_path, a_html_options %>
  <%= link_to 'Adapters', adapters_path, a_html_options %>
  <%= link_to 'Alignment Refs', alignment_refs_path, a_html_options %>
  <%= link_to 'Oligo Pools', oligo_pools_path, a_html_options %>
  <%= link_to 'Seq Machines', seq_machines_path, a_html_options %>
  <%= link_to 'Freezers', freezer_locations_path, a_html_options %>
  <%= link_to 'Researchers', researchers_path, a_html_options %>

</div> 
-->