
<!-- layout for the samples pages -->

<% content_for :top_navigation do %>
  <!-- keep left side blank -->
  <div class="col-2">
  </div>
  <div class="col-10">
    <%= render "layouts/main/main_nav" %>
  </div>
<% end %>

<% content_for :panel_1 do %>
  <div id="left-panel" class="col-2 bkg-sample-slides">
    <!-- render the queries -->
    <%= render "layouts/main/list_queries" %>
    <!-- render the Uploads -->
    <%= render "layouts/main/list_uploads" %>
  </div>
<% end %>

<% content_for :panel_2 do %>
  <div id="main-panel" class="col-10">

    <!-- render the samples navigation -->
    <%= render "samples/samples_nav" %>

    <%= yield %>
  </div>
<% end %>

<%= render :file => 'layouts/application' %>
