<h6>Extraction Details:</h6>
<table class="table table-bordered table-sm table-font-sm">
  <thead class="thead-light thead-font-sm">
  <tr>
    <th>Barcode</th>
    <th>Date</th>
    <th>Type</th>
    <th>Vial</th>
    <th>Support</th>
    <th>Buffer</th>
    <th>Volume</th>
    <th>Conc</th>
    <th>Remaining?</th>
    <th>Room/Freezer</th>
    <th>Storage Container</th>
    <th></th>
  </tr>
  </thead>

  <tr>
    <td><%=h link_to processed_sample.barcode_key, processed_sample_path(processed_sample) %></td>
    <td><%=h processed_sample.processing_date %></td>
    <td><%=h processed_sample.extraction_type %></td>
    <td><%=h processed_sample.vial %></td>
    <td><%=h processed_sample.support %></td>
    <td><%=h processed_sample.elution_buffer %></td>
    <td><%=h processed_sample.final_vol %></td>
    <td><%=h processed_sample.final_conc %></td>
    <td><%=h processed_sample.psample_remaining %></td>
    <td><%=h processed_sample.room_and_freezer %></td>
    <td><%=h processed_sample.container_and_position %></td>
    <% if can? :edit, processed_sample %> <td><%= link_to 'Edit', edit_processed_sample_path(processed_sample) %></td><% end %>
  </tr>

  <% unless processed_sample.comments.blank? %>
    <tr><td></td><td colspan="11">Notes: <%=h processed_sample.comments %></td></tr>
  <% end %>
</table>
