<h5>Sample Extraction</h5>

<%= form_for(@processed_sample) do |f| %>

  <%= render '/shared/errors', model: @processed_sample %>
  
  <%= f.hidden_field :sample_id,  :value => @sample.id %>
  
  <%= render :partial => 'processed_sample_form', :locals => {:f => f} %>
  
  <%=f.submit "Save", class: "btn btn-primary" %>
 
<% end %>
