<h5>New dissection from sample: <%=h @source_sample.barcode_key %></h5>


<%= form_for @sample, :url => {:controller => 'dissected_samples', :action => :create},  remote: true do |f| %>
  <% @sample.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
  <% end %>
  
  <%= render :partial => 'dsample_form', :locals => {:f => f, :dissect => @source_sample} %> 

  <%=f.submit "Save",  class: "btn btn-primary" %>
<% end %>

