<div id='assays_form' class="card">
  <h6 class="card-header">Assay Samples:</h6>
  <%= hidden_field_tag(:nr_assays, new_assay.size) %>

  <div class="card-body">
     <div class="row">
       <div class="offset-sm-2 col-sm-2 col-form-label-sm align-self-center">Molecular Assay</div>
       <div class="col-sm-2 col-form-label-sm align-self-center">Source DNA/RNA</div>
     </div>
     <div class="row">
       <div class="col-sm-2 col-form-label-sm align-self-center">Source DNA/RNA</div>
       <div class="col-sm-1 col-form-label-sm">Vol(ul)</div>
       <div class="col-sm-1 col-form-label-sm">Conc(ng/ul)</div>
       <div class="col-sm-1 col-form-label-sm">Vol(ul)</div>
       <div class="col-sm-1 col-form-label-sm">Conc(ng/ul)</div>
       <div class="col-sm-2 col-form-label-sm">Plate</div>
       <div class="col-sm-1 col-form-label-sm">Coord</div>
       <div class="col-sm-3 col-form-label-sm">Notes</div>
     </div>

  <% new_assay.each_with_index do |assay, i| %>
    <%= fields_for 'molecular_assay_' + i.to_s, assay do |f| %>
    <div class = "form-group row">
      <%= i+1 %>
      <div class="col-sm-2">
        <%= f.autocomplete_field :source_sample_name, molecular_assays_autocomplete_molecular_assay_source_sample_name_path, class: "form-control position-static" %>
        <!-- Update elements on selection of item -->
        <%= javascript_tag do %>
      	$('#molecular_assay_' + <%= i %> + '_source_sample_name').bind('railsAutocomplete.select', function(event, data){
          $('#psample_vol_' + <%= i %>).html(data.item.final_vol);
          $('#psample_conc_' + <%= i %>).html(data.item.final_conc);
        });      	
        <% end %>
      </div>
      <div class="col-sm-1">
        <%= f.text_field(:volume, :size => 8, :onchange => "$('default_vol').update(this.val()*$('molecular_assay_#{i}_concentration').val()/$('psample_conc_#{i}').val()", class: "form-control") %>
      </div>
      <div class="col-sm-1">
        <%= f.text_field(:concentration, :size => 8, :onchange => "$('default_vol').update(this.val()*$('molecular_assay_#{i}_volume').val()/$('psample_conc_#{i}').val()", class: "form-control") %>
      </div>
      <div class="col-sm-1 number-pad-right" id=<%="psample_vol_" + i.to_s%>>
        <%= text_field_tag(:psample_vol, processed_sample[i]? processed_sample[i].final_vol : ' ', disabled: true, class: "form-control") %>
      </div>
      <div class="col-sm-1 number-pad-right" id=<%="psample_conc_" + i.to_s%>>
        <%= text_field_tag(:psample_conc, processed_sample[i]? processed_sample[i].final_conc : ' ', disabled: true, class: "form-control")%>
      </div>
      <div class="col-sm-2">
        <%= f.text_field :plate_number, class: "form-control" %>
      </div>
      <div class="col-sm-1">
        <%= f.text_field :plate_coord, class: "form-control" %>
      </div>
      <div class="col-sm-2">
        <%= f.text_field :notes, class: "form-control" %>
      </div>
    </div>

    <% end %>
  <% end %>

  </div>
</div>

<%= submit_tag "Save assays", class: "btn btn-primary" %>

<div id="default_vol"></div>
<!-- f.text_field(:volume, :size => 8, :onchange => "$('default_vol').update($F(this));") --> 
<!-- observe_field("molecular_assay_0_volume", :on => :onchange, :update => "default_vol",
                                              :url => {:action => :populate_vol}, :with => "'vol='+escape(value)") -->
<!-- '&assay[search]=' + jQuery('#molecular_assay_#{i}_source_sample_name').val()",--> 

 
