<tr>
	<% prefix = "slide_samples_attributes[]" %>
	<%= f.fields_for prefix, slide_sample do |s| %>
		<td><%= s.text_field(:sample_position, value: position, class: "form-control w-50") %></td>
		<td><%=h sample.barcode_key %></td>
		<td><%=h sample.patient_id %></td>
		<td><%=h sample.sample_date %></td>
		<td><%=h sample.sample_type %></td>
		<td><%=h sample.sample_tissue %></td>
		<td><%=h sample.tissue_preservation %></td>
		<td><%=h sample.tumor_normal %></td>
		<td style="text-align:center"><%= s.check_box(:_destroy) %></td>
		<%= s.hidden_field(:id, :value => slide_sample.id ) %>
		<%= s.hidden_field(:sample_id, :value => sample.id ) %>
	<% end %>
</tr>
