<div class="card">
  <h6 class="card-header">Imaging Slide Details</h6>
  <div class="card-body">

    <div class="form-group row">
      <label for="imaging_date" class="col-sm-2 col-form-label col-form-label-sm text-right">Imaging Date:</label>
      <div class="col-sm-2">
        <%= f.date_field :imaging_date, class: "form-control" %>
      </div>

      <label for="protocol_id" class="col-sm-2 col-form-label col-form-label-sm text-right">Imaging Protocol:</label>
      <div class="col-sm-3">
        <%= f.collection_select(:protocol_id, @imaging_protocols, :id, :short_name,
                                {:include_blank => 'Select Protocol'}, class: "form-control") %>
      </div>
    </div>

    <div class="form-group row">
      <label for="slide_number" class="col-sm-2 col-form-label col-form-label-sm text-right">Slide Number:</label>
      <div class="col-sm-2">
        <%= f.text_field :slide_number, class: "form-control" %>
      </div>

      <label for="slide_description" class="col-sm-2 col-form-label col-form-label-sm text-right">Slide Description:</label>
      <div class="col-sm-5">
        <%= f.text_field :slide_description, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <label for="owner" class="col-sm-2 col-form-label col-form-label-sm text-right">Owner:</label>
      <div class="col-sm-2">
        <%= f.select(:owner, options_for_select(@owners, f.object.owner), {}, class: "form-control")%>
      </div>

      <label for="notebook_ref" class="col-sm-2 col-form-label col-form-label-sm text-right">Notebook Ref:</label>
      <div class="col-sm-4">
        <%= f.text_field :notebook_ref, class: "form-control" %>
      </div>
    </div>
  </div>
</div>
