<h5>Listing Image Slides</h5>
<table class="table table-bordered table-sm table-font-sm">
  <thead class="thead-light">
  <tr>
    <th>Slide Number</th>
	  <th>Description</th>
	  <th>Samples</th>
		<th>Imaging Protocol</th>
		<th>Imaging Run(s)</th>
	  <th colspan="2">&nbsp;</th>
  </tr>
  </thead>

  <% @imaging_slides.each do |imaging_slide| %>
  <tr>
		<td><%=h imaging_slide.slide_number %></td>
		<td><%=h imaging_slide.slide_description %></td>
		<td><%=h imaging_slide.samples.collect{|s| s.barcode_key }.join(', ') %></td>
		<td><%=h imaging_slide.protocol.short_name %></td>
		<td><% if imaging_slide.imaging_runs %>
				<%=h imaging_slide.imaging_runs.collect{|r| r.imaging_key }.join(', ')  %>
			<% end %>
		</td>
		<td><% if can? :edit, imaging_slide %><%=link_to 'Edit', edit_imaging_slide_path(imaging_slide) %><% end %></td>
		<td><% if can? :delete, imaging_slide %><%=link_to 'Delete', imaging_slide, data: {confirm: 'Are you sure?'}, :method => :delete %><% end %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New imaging_slide', slide_setup_path %>
