<h6>Sample Details:</h6>
<table class="table table-bordered table-sm table-font-sm">
  <thead class="thead-light thead-font-sm">
  <tr>
    <th>Barcode</th>
    <th>Date</th>
    <th>Patient Dx</th>
    <th>Sample Type</th>
    <th>Preservation</th>
    <th>OR Designation</th>
    <th>Histopath</th>
    <th>Rem?</th>
    <th></th>
  </tr>
  </thead>

  <tr>
    <td><%=h link_to sample.barcode_key, sample_path(sample) %></td>
    <td><%=h sample.sample_date %></td>
    <td><%=h (sample.sample_characteristic.pathology ? sample.sample_characteristic.pathology.pathology_classification : nil) %></td>
    <td><%=h [sample.sample_tissue, sample.sample_type].join('/') %></td>
    <td><%=h sample.tissue_preservation %></td>
    <td><%=h sample.tumor_normal %></td>
    <td><%=h (sample.histology ? sample.histology.histopathology : nil) %></td>
    <td><%=h sample.sample_remaining %></td>
    <% if can? :edit, sample %> <td><%= link_to 'Edit', edit_sample_path(sample) %></td><% end %>
  </tr>

  <% unless sample.comments.blank? %>
      <tr><td></td><td colspan="9"><%=h sample.comments %></td></tr>
  <% end %>
</table>
