<table id="s_loc">
<tr>
  <th>Container Type</th>
  <th>Container Name</th>
  <th>Position</th>
  <th>Freezer</th>
</tr>
  <% i = 0 %>
  <%= f.fields_for :sample_storage_containers, :wrapper => false do |c| %>
      <tr class="fields">
        <% i += 1 %>
        <td><%= c.text_field :container_type, :size => 10 %></td>
        <td><%= c.text_field :container_name, :size => 8 %></td>
        <td><%= c.text_field :position_in_container, :size => 6 %></td>
        <td><%= c.collection_select(:freezer_location_id, @freezer_locations, :id, :room_and_freezer) %></td>
        <td><% if i > 1 %><%= c.link_to_remove "Remove" %><% end %></td>
      </tr>
  <% end %>
</table>
<p><%= f.link_to_add "Add Storage Location", :sample_storage_containers, :data => { :target => "#s_loc" } %></p>
