
<%= bootstrap_form_for(@user) do |f| %>
  <%= f.text_field :login %>
  <%= f.email_field :email %>

  <!-- need to hand craft this one, since we use the password field below -->
  <div class="form-group">
    <input placeholder="Current password" class="form-control" type="password" name="curr_user[current_password]" id="cur_password">
  </div>

  <%= f.password_field :password, label: "New password" %>
  <%= f.password_field :password_confirmation, label: "Confirm password" %>
  <%= f.submit "Update user", class: "btn btn-primary" %>

  <% if can? :update, Role %>
    <% for role in @roles do %>
      <% next if role.name == 'admin' && !current_user.has_role?("admin") %>
      <%= f.check_box role, @user.has_role?(role.name,'admin_does_not_default'), label: role.name %>
    <% end %>
  <% end %>
<% end %>
