<% @users.sort.each do |active_inactive, users| %>
<% active_inactive_text = (active_inactive == 'A'? 'Active' : 'Inactive') %>

<h5><%= active_inactive_text %> users</h5>
<table class="table table-bordered table-sm table-font-sm">
  <thead class="thead-light">
    <tr>
      <th scope="col">Login</th>
      <th scope="col">Email</th>
      <th scope="col">Roles</th>
      <% if can? :delete, User %>
        <th scope="col"></th>
      <% end %>
    </tr>
  </thead>

  <% for user in users do %>
  <tr>
  	<% if can? :edit, user %>
  	  <td><%= link_to user.login, edit_user_path(user) %> </td>
	<% else %>
	  <td><%=h user.login %>
	<% end %>
	
	<td><%=h user.email %> </td>
	<td>
	  <% for role in user.roles do %>
	    <%=h role.name %>&nbsp;
	  <% end %>
	</td>
	<% if can? :delete, user %>
	  <td><%= link_to 'Delete', user, data: {:confirm => 'Are you sure?'}, :method => :delete %></td>
	<% end %>
  </tr>
  <% end %>
</table>

<% if active_inactive == 'A' and (can? :delete, User) %>
  <%= link_to 'Add new user', :action => 'new', class: "btn btn-primary" %>
  <br/><br/>
<% end %>

<% end %>
