<h5>Pick a new password for <%= @user.email %></h5>

<%= bootstrap_form_for(:user, url: {action: "reset"}) do |f| %>
  <%= f.password_field :password, label: "Password" %>
  <%= f.password_field :password_confirmation, label: "Confirm password" %>
  <%= f.submit "Reset", class: "btn btn-primary" %>
<% end %>
