<h5>Editing Sequencing Kit</h5>

<%= form_for(@sequencer_kit) do |f| %>
  <%= render '/shared/errors', model: @sequencer_kit %>

  <%= render :partial => 'sequencer_kit_form', :locals => {:f => f}%>

  <%= f.submit "Update", class: "btn btn-primary" %>
<% end %>

<%= link_to 'List All', sequencer_kits_path %>
