<div class="current-container-fields">
  <!--p>Current container, storage_container_id <%= @storage_container_id %>; <%= f.object.storage_container_id %></p-->
  <div class="form-group row">
    <%=f.hidden_field(:sample_name_or_barcode, value: barcode) %>
    <!-- make storage container id available on save and to javascript -->
    <%=f.hidden_field(:storage_container_id, value: f.object.storage_container_id, class: "storage-container-id") %>

    <label for="freezer_location_id" class="col-auto col-form-label col-form-label-sm">Room/Freezer:</label>
    <div class="col-auto">
      <%= text_field_tag(:room_and_freezer, f.object.room_and_freezer, class: "freezer form-control", readonly: true) %>
    </div>

    <label for="container_type" class="col-auto col-form-label col-form-label-sm">Container Type:</label>
    <div class="col-auto">
      <%=f.text_field(:container_type, class: "container-type form-control", readonly: true) %>
    </div>

    <label for="container_name" class="col-auto col-form-label col-form-label-sm">Name/#:</label>
    <div class="col-auto">
      <%=f.text_field(:container_name, size: 5, class: "container-name form-control", readonly: true) %>
    </div>
  </div>

  <div class="form-group row">
    <label for="position_in_container" class="position-in-container col-auto col-form-label col-form-label-sm">Position in Container:</label>
    <div class="position-in-container col-auto">
      <%=f.text_field(:position_in_container, class: "form-control" )  %>
    </div>

    <div class="select-position-btn">
      <div class="col-auto">
        <button type="button" class="btn btn-secondary">Show Grid Locations</button>
      </div>
    </div>
  </div>
</div>
