<div class="existing-new-container-fields">
  <table class="table table-sm" style="width:75%">
    <thead>
      <%=f.hidden_field(:sample_name_or_barcode, :value => barcode) %>
    </thead>
    <tbody>
    <tr>
      <td style="width:50%">
        <label for="freezer_location_id" class="col-form-label col-form-label-sm">Room/Freezer:</label>
        <%= f.collection_select(:freezer_location_id, @freezer_locations, :id, :room_and_freezer, {:include_blank => 'Select..'}, {class: "freezer form-control"}) %>
      </td>
      <td>
        <label for="container_type" class="col-form-label col-form-label-sm">Container Type:</label>
        <%=f.collection_select(:container_type, @container_types, :container_type, :container_type, {include_blank: 'Select..'}, {class: "container-type form-control"}) %>
      </td>
    </tr>

    <tr class="existing-container-row">
      <td>
        <label for="storage_container_id" class="col-form-label col-form-label-sm">Existing Container:</label>     
        <div class="existing-container">          
            <!-- options constructed in JS from json data in @container_data -->
            <%=f.collection_select(:storage_container_id, {}, nil, nil, {include_blank: 'Select Freezer/Type first'}, {class: "storage-container form-control"}) %>
        </div>
      </td>
      <td></td>
    </tr>

    <tr class="new-fields" style="display:none">
      <td>  
        <label for="container_name" class="col-form-label col-form-label-sm">Name/#:</label>
        <%=f.text_field(:container_name, size: 5, disabled: true, class: "container-name form-control") %>
      </td>
      <td>
          <label for="notes" class="col-form-label col-form-label-sm">Notes:</label>
          <%=f.text_field :notes, size: 15, disabled: true, class: "container-notes form-control" %>
      </td>
    </tr>

    <tr>
      <td>
        <label for="position_in_container" style="display: none" class="position-in-container col-form-label col-form-label-sm">Position in Container:          
        </label>
        <div style="display: none" class="position-in-container">
          <%=f.text_field(:position_in_container, size: 5, class: "form-control" ) %>
        </div>
      </td>
      <td>
        <div class="select-position-btn" style="display: none;">
          <button type="button" class="btn btn-sm btn-secondary">Show Grid Locations</button>
        </div>
      </td>
    </tr>

    </tbody>
  </table>
</div>
