  <div class="card">
    <h6 class="card-header">Multiplex Library Details</h6>
    <table class="table table-sm table-borderless">
    <thead>
    </thead>
    <tbody>
    <tr>
      <td><label for="barcode_key" class="col-form-label col-form-label-sm">Barcode:</label>
        <% if @seq_lib.new_record? || @seq_lib.dummy_barcode == false %><%= f.text_field :barcode_key, class: "form-control" %>
        <% else %>&nbsp;<% end %>
      </td>
      <td><label for="lib_name" class="col-form-label col-form-label-sm">Lib Name:</label>
        <% if @seq_lib.new_record? || @seq_lib.dummy_barcode == false %><%= f.text_field :barcode_key, class: "form-control" %>
        <% else %>&nbsp;<% end %>
      </td>
      <td><label for="adapter_id" class="col-form-label col-form-label-sm">Runtype Adapter:</label>
        <div><%=h f.object.adapter_name %> <%=f.hidden_field(:adapter_id) %></div>
      </td>
    </tr>
    <tr>
    </tr>
    <tr>
      <td><label for="preparation_date" class="col-form-label col-form-label-sm">Prep Date:</label><%= f.date_field(:preparation_date, class: "form-control") %></td>
      <td><label for="owner" class="col-form-label col-form-label-sm">Owner:</label><%= f.select(:owner, @owners, {}, class: "form-control") %></td>
      <td><label for="protocol_id" class="col-form-label col-form-label-sm">Protocol:</label>
        <%= f.collection_select(:protocol_id, @protocols, :id, :protocol_name,
                                  {:include_blank => 'Select Protocol'}, class: "form-control") %>
      </td>
    </tr>
    <tr>
      <td><label for="pcr_size" class="col-form-label col-form-label-sm">PCR Size:</label>
          <%= f.text_field(:pcr_size, :size => 6, class: "form-control") %>
      </td>
      <td><label for="sample_conc" class="col-form-label col-form-label-sm">Library Conc:</label>
        <table class="nested-table table-borderless">
          <td><%= f.text_field(:sample_conc, :size => 6, :value => format_conc(f.object.sample_conc, ''), class: "form-control")%></td>
          <td>&nbsp;&nbsp;</td>
          <td><%= f.select(:sample_conc_uom, SeqLib::SAMPLE_CONC, {}, class: "form-control") %></td>
        </table>
      </td>
      <td><label for="lib_conc_requested" class="col-form-label col-form-label-sm">FlowCell Conc:</label>
        <table class="nested-table table-borderless">
          <td><%= f.text_field(:lib_conc_requested, :size => 6, :value => format_conc(f.object.lib_conc_requested, ''), class: "form-control") %></td>       
          <td>&nbsp;&nbsp;pM</td>
        </table>
      </td>
    </tr>
    <tr>
      <td><label for="alignment_ref_id" class="col-form-label col-form-label-sm">Align Ref:</label>
        <%= f.collection_select(:alignment_ref_id, @align_refs, :id, :alignment_key, {}, class: "form-control") %>
      </td>
      <td>
        <label for="trim_bases" class="col-form-label col-form-label-sm">Trim Bases:</label>
        <%= f.text_field(:trim_bases, :size => 6, class: "form-control", style: "width:4rem" )%>
      <td>
        <label for="oligo_pool" class="col-form-label col-form-label-sm"><%=h Pool.human_attribute_name(:pool_name)%>:</label>
        <%= f.text_field(:oligo_pool, disabled: true, size: 10, class: "form-control", style: "width:4rem" ) %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <label for="notebook_ref" class="col-form-label col-form-label-sm">Notebook Ref:</label>
        <%= f.text_field(:notebook_ref, size: 50, class: "form-control") %>
      </td>
      <td>
        <label for="project" class="col-form-label col-form-label-sm">Project:</label>
        <%= f.collection_select(:project, @projects, :c_value, :c_value,
                                  {:include_blank => 'Select Project'}, class: "form-control") %>
      </td>
    </tr>
    <tr>
      <td colspan="2"><label for="notes" class="col-form-label col-form-label-sm">Library Notes:</label>
        <%= f.text_field(:notes, size: 50, class: "form-control") %>
      </td>
      <td></td>
    </tr>
    </table>
  </div><!-- /card -->   

  <%= f.fields_for :sample_storage_container do |c| %>
      <% if @edit_lib_storage %>
          <%= render :partial => 'shared/storage_container_edit', :locals => {f: c, barcode: f.object.barcode_key} %>
      <% else %>
          <%= render :partial => 'shared/storage_container_new', :locals => {f: c, barcode: f.object.barcode_key} %>
      <% end %>
  <% end %>

