<h5>New Multiplex Sequencing Library</h5>

<%= form_for @seq_lib, :url => {:controller => 'mplex_libs', :action => :create} do |f| %>
  <%= render '/shared/errors', model: @seq_lib %>

  <%= render :partial => 'lib_form', :locals => {:f => f} %>
  <br/>

<% @checked ||= false %>  
<span class="notes"> Check boxes below, to include libraries in new multiplex library</span><br/>
  <%= check_box_tag("checkall", '1', @checked, {:onclick => "checkUncheckAll(this);"}) %>
  <span style="font-size:90%">Check/Uncheck All</span>&nbsp;&nbsp;&nbsp;
  <%= f.submit 'Create Library', class: "btn btn-primary" %><br/>

<%= render '/shared/collected_errors', collection: @lib_samples %>
<h6>Libraries/Samples</h6>
  <table class="table table-bordered table-sm table-font-sm">
    <thead class="thead-light">
  	<tr>
  	  <td>&nbsp;</td>
  	  <th>Lib Barcode</th>
	    <th>Lib Name</th>
  	  <th>Adapter</th>
      <th>Index1</th>
      <th>Index2</th>
      <th>Sample Name</th>
	    <th>Patient ID</th>
      <th>Source DNA/RNA</th>
	    <th><%=h Pool.human_attribute_name(:pool_name)%></th>
	    <th>Sample Notes</th>
    </tr>
    </thead>

    <% @lib_samples.each_with_index do |lib_sample, i| %>
      <%= render 'sample_form', seq_lib: @singleplex_libs[i], lib_sample: lib_sample %>
	<% end %>
  </table>
<% end %>

<br/>
<%= link_to 'Back', :back %>