
<%= bootstrap_form_for(:user, url: {action: "user_login"}) do |f| %>
  <%= f.text_field :login, {style: "height:2rem !important"}%>
  <%= f.password_field :password, {style: "height:2rem !important"}%>
  <%= f.submit "Log in", class: "btn btn-primary" %>
<% end %>

<p>
<%= link_to 'Forgot password?', forgot_path %>
</p>
<p class="notes">OR

<%= bootstrap_form_for(:user, url: {action: "signup"}) do |f| %>
  <%= f.submit "Sign up", class: "btn btn-primary" %>
<% end %>
</p>
