<%= render :partial => 'shared/page_print' %>
<h5>Order Listing</h5>

<table class="table table-bordered table-sm table-font-sm">
  <thead class="thead-light thead-font-sm">
  <tr>
    <th>Order Date</th>
    <th>Company Name</th>
    <th>Chemicals?</th>
    <th>RPO/CWA</th>
    <th>Requisition#</th>
    <th>Order#</th>
    <th>Recv'd</th>
    <th></th>
  </tr>
  </thead>

  <tr>
    <td><%=h @order.date_ordered %></td>
    <td><%=h @order.company_name %></td>
    <td><%=h @order.incl_chemicals %></td>
    <td><%=h @order.rpo_or_cwa %></td>
    <td><%=h @order.po_number %></td>
    <td><%=h @order.order_number %></td>
    <td><%=h @order.order_received %></td>
    <td><% if can? :edit, @order %><%=link_to 'Edit', edit_order_path(@order) %><% end %></td>
  </tr>
</table>

<table class="table table-bordered list table-sm table-font-sm">
  <thead class="thead-light">
  <tr>
  	<th>Requester</th>
	  <th>Date</th>
	  <th>Description</th>
	  <th>Company</th>
    <th>Catalog nr</th>
	  <th>Chemicals?</th>
	  <th>Size</th>
	  <th>Qty</th>
    <th>Price</th>
    <th>Ext Price</th>
	  <th>Recv'd?</th>
	  <th></th>
  </tr>
  </thead>

  <% for item in @order.items do %>
    <tr>
  	  <td><%=h item.requester_abbrev %></td>
	    <td><%=h format_date(item.created_at) %></td>
  	  <td><%=h item.item_description %></td>
	    <td><%=h item.company_name %></td>
      <td><%=h item.catalog_nr %></td>
	    <td><%=h item.chemical_flag %></td>
	    <td><%=h item.item_size %></td>
      <td><%=h item.item_quantity %></td>
	    <td style="text-align:right"><%=h number_to_currency(item.item_price)%></td>
	    <td style="text-align:right"><%=h number_to_currency(item.item_ext_price) %></td>
	    <td><%=h item.item_received %></td>
	    <td><%= link_to 'Edit', edit_item_path(item), :class => 'no-print' %></td>
    </tr>
  <% end %>
</table>
