<div id="errorwarn"></div>

<div class="card">
  <h6 class="card-header">FlowCell Details</h6>
  <div class="card-body">
    <div class="form-group row">
      <label for="flowcell_date" class="col-auto col-form-label">Date:</label>
      <div class="col-auto">
        <%= f.date_field(:flowcell_date, class: "form-control") %>
      </div>

      <% if f.object.new_record? %>
        <label for="machine_type" class="col-auto col-form-label col-form-label-sm">Machine Type:</label>
        <div class="col-auto">
          <%= f.collection_select(:machine_type, @machine_types, :c_value, :c_value, {:include_blank => 'Select..'}, class: "form-control")%>
        </div>
      <% else %>
        <div class="col-auto col-form-label col-form-label-sm">Seq Machine:</div>
        <div class="col-auto">
          <%=h (f.object.seq_machine ? f.object.seq_machine.machine_name_and_type : ['N/A', '(', f.object.machine_type, ')'].join) %>
        </div>
      <% end %>

      <label for="partial_flowcell" class="col-auto col-form-label col-form-label-sm">Partial FlowCell?</label>
      <div class="col-auto">
      <% if f.object.new_record? %>
        <%= select_tag :partial_flowcell, options_for_select(%w{N Y}, selected_value=@partial_flowcell), class: "form-control" %>
      <% else %>
        <%=h @partial_flowcell %><%= hidden_field_tag :partial_flowcell, @partial_flowcell %>
      <% end %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-2"><strong>Reads</strong></div>
      <label for="nr_bases_read1" class="col-auto col-form-label">Read1:</label>
      <div class="col-auto">
        <%= f.text_field :nr_bases_read1, class: "form-control" %>
      </div>

      <label for="nr_bases_read1" class="col-auto col-form-label">Read2:</label>
      <div class="col-auto">
        <%= f.text_field :nr_bases_read2, class: "form-control" %>
      </div>

	    <% if !f.object.new_record? && (can? :new, AlignmentRef) %>
        <label for="flowcell_status" class="col-auto col-form-label">Status:</label>
        <div class="col-auto">
          <%= f.select(:flowcell_status, FlowCell::STATUS, class: "form-control") %>
        </div>
	    <% end %>
    </div>

    <div class="form-group row">
      <div class="col-sm-2"><strong>Index Reads</strong></div>
      <label for="nr_bases_index1" class="col-auto col-form-label">Index1:</label>
      <div class="col-auto">
        <%= f.text_field :nr_bases_index1, class: "form-control" %>
      </div>

      <label for="nr_bases_index2" class="col-auto col-form-label">Index2:</label>
      <div class="col-auto">
        <%= f.text_field :nr_bases_index2, class: "form-control" %>
      </div>
    </div>
    <br/>

    <div class="form-group row">
      <div class="col-sm-2"><strong>Kit Versions</strong></div>
      <label for="cluster_kit" class="col-auto col-form-label">Cluster Kit:</label>
      <div class="col-auto">
        <%= f.collection_select(:cluster_kit, @cluster_kits, :c_value, :c_value, {}, class: "form-control") %>
      </div>

      <label for="sequencing_kit" class="col-auto col-form-label">Sequencing Kit:</label>
      <div class="col-auto">
        <%= f.collection_select(:sequencing_kit, @seq_kits, :c_value, :c_value, {}, class: "form-control") %>
      </div>
    </div>

    <div class="form-group row">
      <label for="hiseq_xref" class="col-auto col-form-label">Alt Run#:</label>
      <div class="col-auto">
        <%= f.text_field(:hiseq_xref, size: 30, class: "form-control") %>
      </div>
    </div>

    <div class="form-group row">
      <label for=run_description" class="col-auto col-form-label">Run Description:</label>
      <div class="col-auto">
        <%=f.text_field(:run_description, :size => 60, class: "form-control") %>
      </div>
    </div>

    <div class="form-group row">
      <label for=notes" class="col-auto col-form-label">Notes:</label>
      <div class="col-auto">
        <%=f.text_field(:notes, :size => 60, class: "form-control") %>
      </div>
    </div>
  </div>
</div>
