<div id="errorwarn"></div>

<div class="card">
  <h6 class="card-header">FlowCell Details</h6>
  <table class="table table-sm table-borderless">
  <thead>
  </thead>
  <tbody>
    <tr>
      <td class="label"><label for="flowcell_date" class="col-form-label col-form-label-sm">Date:</label></td>
      <td><%= f.date_field(:flowcell_date, class: "form-control") %></td>

      <td class="label"><label for="machine_type" class="col-form-label col-form-label-sm">Machine Type:</label></td>
      <td>
        <%= f.collection_select(:machine_type, @machine_types, :c_value, :c_value, {:include_blank => 'Select..'}, class: "machine-type form-control")%>
      </td>

      <td class="label"><label for="partial_flowcell" class="col-form-label col-form-label-sm">Partial FlowCell?</label></td>
      <td><%= select_tag :partial_flowcell, options_for_select(%w{N Y}, selected_value=@partial_flowcell), class: "form-control", style: "width:4rem" %></td>
    </tr>

    <tr>
      <td class="label"><label for="nr_bases_read1" class="col-form-label col-form-label-sm">Read Lengths:</label></td>
      <td colspan="3">
        <table class="nested-table table-borderless">
          <td><%= f.text_field :nr_bases_read1, placeholder: 'R1', class: "form-control", style: "width:6rem" %></td>
          <td>&nbsp;</td>
          <td><%= f.text_field :nr_bases_read2, placeholder: 'R2', class: "form-control", style: "width:6rem"%></td>
          <td>&nbsp;</td>
          <td><%= f.text_field :nr_bases_index1, placeholder: 'I1', class: "form-control", style: "width:6rem"%></td>
          <td>&nbsp;</td>
          <td><%= f.text_field :nr_bases_index2, placeholder: 'I2', class: "form-control", style: "width:6rem"%></td>
        </table>
      </td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td class="label"><label for="sequencing_kit" class="col-form-label col-form-label-sm">Sequencing Kit:</label></td>
      <!--%= f.collection_select(:sequencing_kit, {}, nil, nil, {include_blank: 'Select Machine first'}, class: "form-control") %-->

      <td><%=f.select :sequencing_kit, grouped_options_for_select(@seq_kits), {:prompt => 'Select..'}, class: "seq-kit form-control" %></td>

      <td class="label"><label for="cluster_kit" class="col-form-label col-form-label-sm">Cluster Kit:</label></td>
      <td><%= f.collection_select(:cluster_kit, @cluster_kits, :c_value, :c_value, {}, class: "form-control") %></td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td class="label"><label for="hiseq_xref" class="col-form-label col-form-label-sm">Alt Run#:</label></td>
      <td colspan="2"><%= f.text_field(:hiseq_xref, class: "form-control") %></td>
      <td colspan="3"></td>
    </tr>
    <tr>
      <td class="label"><label for=run_description" class="col-form-label col-form-label-sm">Run Description:</label></td>
      <td colspan="3"><%=f.text_field(:run_description, class: "form-control") %></td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td class="label"><label for=notes" class="col-form-label col-form-label-sm">Notes:</label></td>
      <td colspan="3"><%=f.text_field(:notes, class: "form-control") %></td>
      <td colspan="2"></td>
    </tr>
  </tbody>
  </table>
  
</div><!--/card -->
