<h6><%= flow_cell.id_name %></h6>
<table class="table table-bordered table-sm table-font-sm">
  <thead class="thead-light thead-font-sm">
  <tr>
    <th>Date</th>
    <th>Alt Run#</th>
    <th>Reads</th>
    <th>Seq Type</th>
    <th>Cluster Kit</th>
    <th>Seq Kit</th>
    <th>Pub?</th>
    <th>Run Description</th>
    <th></th>
  </tr>
  </thead>

  <tr>
    <td><%=h flow_cell.flowcell_date %></td>
    <td><%=h flow_cell.hiseq_xref %></td>
    <td><%=h [flow_cell.nr_bases_read1, flow_cell.nr_bases_index1, flow_cell.nr_bases_index2, flow_cell.nr_bases_read2].join(',') %></td>
    <td><%=h flow_cell.machine_type %></td>
    <td><%=h flow_cell.cluster_kit %></td>
    <td><%=h flow_cell.sequencing_kit %></td>
    <td><%=h flow_cell.for_publication? %></td>
    <td><%=h flow_cell.run_description %></td>
    <% if can? :edit, flow_cell %> <td><%= link_to 'Edit', edit_flow_cell_path(flow_cell) %></td><% end %>
  </tr>

  <% unless flow_cell.notes.blank? %>
    <tr><td></td><td colspan="9"><%=h flow_cell.notes %></td></tr>
  <% end %>
</table>
