<h6>Pathology/H&E:</h6>
<table class="table table-bordered table-sm table-font-sm">
  <thead class="thead-light thead-font-sm">
  <tr>
    <% unless pathology.nil? %>
      <th>Path Rpt Date</th>
      <th>Pathology</th>
      <th>Diagnosis</th>
      <th>Tumor Stage</th>
    <% end %>

    <% unless histology.nil? %>
      <th>H&E slides</th>
      <th>Histopathology</th>
    <% end %>
  </tr>
  </thead>

  <tr>
    <% unless pathology.nil? %>
      <td><%=h link_to pathology.pathology_date, pathology_path(pathology) %></td>
      <td><%=h pathology.general_pathology %></td>
      <td><%=h pathology.pathology_classification %></td>
      <td><%=h pathology.tumor_stage %></td>
    <% end %>

    <% unless histology.nil? %>
      <td><%=h link_to histology.he_barcode_key, histology_path(histology) %></td>
      <td><%=h histology.histopathology %></td>
    <% end %>
  </tr>

  <% if !pathology.nil? && !pathology.comments.blank? %>
    <tr><td></td><td colspan="5"><%=h pathology.comments %></td></tr>
  <% end %>
  <% if !histology.nil? && !histology.comments.blank? %>
    <tr><td></td><td colspan="5"><%=h histology.comments %></td></tr>
  <% end %>
</table>
