<h6>Patient Diagnosis:</h6>
<table class="table table-bordered table-sm table-font-sm">
  <thead class="thead-light thead-font-sm">
  <tr>
    <th>Path Rpt Date</th>
    <th>Pathologist</th>
    <th>Pathology</th>
    <th>Diagnosis</th>
    <th>Tumor Stage</th>
    <th>TNM</th>
    <th>XRT?</th>
    <th>Comments</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  </thead>

  <tr>
    <td><%=h pathology.pathology_date%></td>
    <td><%=h pathology.pathologist%></td>
    <td><%=h pathology.general_pathology%></td>
    <td><%=h pathology.pathology_classification%></td>
    <td><%=h pathology.tumor_stage %></td>
    <td><%=h [pathology.t_code, pathology.n_code, pathology.m_code].join("-")%></td>
    <td><%=h pathology.xrt_flag %></td>
    <td><%=h pathology.comments %></td>
    <% if (can? :edit, pathology) %> <td class="linkborder"><%= link_to 'Edit', edit_pathology_path(pathology) %></td><% end %>
    <% if (can? :delete, pathology) %> <td class="linkborder"><%= link_to 'Delete', pathology, method: :delete, data: { confirm: 'Are you sure?' }%></td><% end %>
  </tr>
</table>
