<div id="errorwarn"></div>
<h6 class="card-header">Sequencing Library Defaults</h6>
<table class="table table-hover table-sm">

  <tr>
    <td class="label"><label for="preparation_date" class="col-auto col-form-label col-form-label-sm">Prep Date:</label></td>
    <td class="set-field-width"><%= date_field_tag("lib_default[preparation_date]", Date.today, class: "form-control") %></td>
    <td class="label"><label for="owner" class="col-auto col-form-label col-form-label-sm">Owner:</label></td>
    <td class="set-field-width"><%= select_tag("lib_default[owner]", options_for_select(@owners, @requester), class: "form-control")%></td>
  </tr>

  <tr>
    <td class="label"><label for="protocol_id" class="col-auto col-form-label col-form-label-sm">Protocol:</label></td>
    <td><%= collection_select(:lib_default, :protocol_id, @protocols, :id, :protocol_name,
                              {:include_blank => 'Select Protocol'}, class: "form-control") %></td>
    <td class="label"><label for="adapter" class="col-auto col-form-label col-form-label-sm">Adapter:</label></td>
    <td><%= collection_select(:lib_default, :adapter_id, @adapters, :id, :runtype_adapter, {}, class: "form-control") %></td>
  </tr>

  <tr>
    <td class="label"><label for="pcr_size" class="col-auto col-form-label col-form-label-sm">Size(Final PCR):</label></td>
    <td><%= text_field(:lib_default, :pcr_size, :size => 10, class: "form-control")%></td>
    <td class="label"><label for="quantitation_method" class="col-auto col-form-label col-form-label-sm">Quantitation:</label></td>
    <td><%= collection_select(:lib_default, :quantitation_method, @quantitation, :c_value, :c_value, {:include_blank => 'Select Method'},
                              class: "form-control") %></td>
  </tr>

  <tr>
    <td class="label"><label for="lib_conc_requested" class="col-auto col-form-label col-form-label-sm">FlowCell Conc:</label></td>
    <td><%= text_field(:lib_default, :lib_conc_requested, :size => 10, class: "form-control") %></td>
    <td class="label"><label for="pool_id" class="col-auto col-form-label col-form-label-sm"><%=h Pool.human_attribute_name(:pool_name)%>:</label></td>
    <td><%= collection_select(:lib_default, :pool_id, @oligo_pools, :id, :pool_string_dtl,
                              {:include_blank => 'Select Pool'}, class: "form-control") %></td>
  </tr>

  <tr>
    <td class="label"><label for="alignment_ref_id" class="col-auto col-form-label col-form-label-sm">Align Ref:</label></td>
    <td><%= collection_select(:lib_default, :alignment_ref_id, @align_refs, :id, :alignment_key, {}, class: "form-control") %></td>
    <td class="label"><label for="trim_bases" class="col-auto col-form-label col-form-label-sm">Trim Bases:</label></td>
    <td><%= text_field(:lib_default, :trim_bases, :size => 10, class: "form-control") %></td>
  </tr>

  <tr>
    <td class="label"><label for="sample_default_source_DNA" class="col-auto col-form-label col-form-label-sm">Source DNA/RNA:</label></td>
    <td><%= autocomplete_field_tag('sample_default_source_DNA', '', processed_samples_autocomplete_processed_sample_barcode_search_path,
                                   name: 'sample_default[source_DNA]', class: "form-control") %></td>
    <td class="label"><label for="notebook_ref" class="col-auto col-form-label col-form-label-sm">Notebook Ref:</label></td>
    <td><%= text_field(:lib_default, :notebook_ref, class: "form-control") %></td>
  </tr>

  <tr>
    <td class="label"><label for="notes" class="col-auto col-form-label col-form-label-sm">Notes:</label></td>
    <td><%= text_area(:lib_default, :notes, size: "80x2", class: "form-control") %></td>
    <td></td>
    <td></td>
  </tr>

</table>
