<div id='libs_form'>
<%= submit_tag 'Save libraries', class: "btn btn-primary" %>&nbsp;&nbsp;&nbsp;
<!--%= submit_to_remote 'Singleplex', 'Refesh from Defaults',
      :url => {:action => 'populate_libs', :nr_libs => @new_lib.size},
      :update => 'libs_form' %-->

  <div class="card">
    <h6 class="card-header">Libraries</h6>
    <div class="card-body">
      <%= hidden_field_tag(:nr_libs, @new_lib.size) %>

      <div class="row">
        <div class="col-sm-1 col-form-label-sm">Barcode</div>
        <div class="col-sm-1 col-form-label-sm">Lib Name</div>
        <div class="col-sm-1 col-form-label-sm">Lib Conc</div>
        <div class="col-sm-1 col-form-label-sm">Adapter</div>
        <div class="col-sm-1 col-form-label-sm">Index1</div>
        <div class="col-sm-1 col-form-label-sm">Index2</div>
        <div class="col-sm-1 col-form-label-sm">Quant</div>
        <div class="col-sm-1 col-form-label-sm">PCR size</div>
        <div class="col-sm-1 col-form-label-sm">Seq Conc</div>
        <div class="col-sm-1 col-form-label-sm">Align Ref</div>
        <div class="col-sm-1 col-form-label-sm"><%=h Pool.human_attribute_name(:pool_name)%></div>
      </div>

      <% @new_lib.each_with_index do |lib, i| %>
        <%= fields_for 'seq_lib_' + i.to_s, lib do |f| %>
          <%= fields_for 'lib_sample_' + i.to_s, @lib_samples[i] do |s| %>
            <%= render '/shared/errors', model: s.object %>
            <%= f.hidden_field(:owner) %>
            <%= f.hidden_field(:preparation_date) %>
            <%= f.hidden_field(:protocol_id) %>

            <div class="row">
              <div class="col-sm-2">
                <%= f.text_field(:barcode_key, class: "form-control") %>
                <%= f.text_field(:lib_name, class: "form-control") %>
              </div>
              <div class="col-sm-1">
                <%= f.text_field(:sample_conc, class: "form-control") %><%= f.select(:sample_conc_uom, SeqLib::SAMPLE_CONC, {}, class: "form-control") %>
              </div>
              <div class="col-sm-1">
                <%= f.collection_select(:adapter_id, @adapters, :id, :runtype_adapter, {},
                                        {:data => {:remote => true, :url => url_for(:action => 'get_adapter_info', :row => i)}, class: "form-control"}) %>
              </div>
              <div class="col-sm-1">
                <%= s.collection_select(:index1_tag_id, @index1_tags, :id, :index1_code, {}, class: "form-control") %>
              </div>
              <div class="col-sm-1">
                <%= s.collection_select(:index2_tag_id, @index2_tags, :id, :index2_code, {}, class: "form-control") %>
              </div>
              <div class="col-sm-1">
                <%= f.collection_select(:quantitation_method, @quantitation, :c_value, :c_value,
                                        {:include_blank => 'Select Method'}, class: "form-control") %>
              </div>
              <div class="col-sm-1">
                <%= f.text_field(:pcr_size, class: "form-control") %>
              </div>
              <div class="col-sm-1">
                <%= f.text_field(:lib_conc_requested, class: "form-control") %>
              </div>
              <div class="col-sm-1">
                <%= f.collection_select(:alignment_ref_id, @align_refs, :id, :alignment_key, {}, class: "form-control") %>
              </div>
              <div class="col-sm-1">
                <%= f.collection_select(:pool_id, @oligo_pools, :id, :pool_string, {:include_blank => 'Select Pool'}, class: "form-control") %>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-2">Source DNA/RNA:</div>
              <div class="col-sm-2">
                <%=s.autocomplete_field :source_sample_name, processed_samples_autocomplete_processed_sample_barcode_search_path, {size: 15, value: @lib_samples[i][:source_DNA], class: "form-control"} %>
              </div>
              <div class="col-sm-2">Notebook Ref:</div>
              <div class="col-sm-2">
                <%= f.text_field(:notebook_ref, class: "form-control")%>
              </div>
              <div class="col-sm-1">Notes:</div>
              <div class="col-sm-3">
                <%= f.text_field(:notes, class: "form-control")%>
              </div>
            </div>
            <hr />
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

