<div id='libs_form'>
<%= submit_tag 'Save libraries', class: "btn btn-primary" %>&nbsp;&nbsp;&nbsp;
<!--%= submit_to_remote 'Singleplex', 'Refesh from Defaults',
      :url => {:action => 'populate_libs', :nr_libs => @new_lib.size},
      :update => 'libs_form' %-->

  <div class="card">
    <h6 class="card-header">Sequencing Libraries</h6>
      <table class="table table-borderless table-sm">
        <%= hidden_field_tag(:nr_libs, @new_lib.size) %>
        <thead>
          <tr>            
            <th><label for="seq_lib_0_barcode_key">Lib Barcode</label></th>
            <th><label for="seq_lib_0_lib_name">Lib Name</label></th>
            <th colspan="2"><label for="seq_lib_0_sample_conc">Lib Conc</label></th>
            <th><label for="seq_lib_0_pcr_size">PCR size</label></th>
            <th><label for="seq_lib_0_quantitation_method">Quant</label></th>
            <th><label for="seq_lib_0_adapter_id">Adapter</label></th>
            <th><label for="lib_sample_0_index1_tag_id">Index1</label></th>
            <th><label for="lib_sample_0_index2_tag_id">Index2</label></th>
            <th><label for="seq_lib_0_lib_conc_requested">Seq Conc</label></th>
          </tr>
        </thead>

        
        <% @new_lib.each_with_index do |lib, i| %>
          <%= fields_for 'seq_lib_' + i.to_s, lib do |f| %>
            <%= fields_for 'lib_sample_' + i.to_s, @lib_samples[i] do |s| %>
              <%= render '/shared/errors', model: s.object %>

              <%= f.hidden_field(:owner) %>
              <%= f.hidden_field(:preparation_date) %>
              <%= f.hidden_field(:protocol_id) %>
              <%= f.hidden_field(:pool_id) %>
          <tbody>
          <tr>
            <td><%= f.text_field(:barcode_key, class: "form-control") %></td>
            <td><%= f.text_field(:lib_name, class: "form-control") %></td>
            <td><%= f.text_field(:sample_conc, class: "form-control") %></td>
            <td><%= f.select(:sample_conc_uom, SeqLib::SAMPLE_CONC, {}, class: "form-control", style: "width:80px") %></td>
            <td><%= f.text_field(:pcr_size, class: "form-control") %></td>
            <td><%= f.collection_select(:quantitation_method, @quantitation, :c_value, :c_value,
                                      {:include_blank => 'Method'}, class: "form-control", style: "width:100px") %></td>
            <td><%= f.collection_select(:adapter_id, @adapters, :id, :runtype_adapter, {},
                                      {:data => {:remote => true, :url => url_for(:action => 'get_adapter_info', :row => i)}, class: "form-control"}) %></td>
            <td><%= s.collection_select(:index1_tag_id, @index1_tags, :id, :index_code, {}, class: "form-control") %></td>
            <td><%= s.collection_select(:index2_tag_id, @index2_tags, :id, :index_code, {}, class: "form-control") %></td>
            <td><%= f.text_field(:lib_conc_requested, size: 8, class: "form-control") %></td>
          </tr>

          <tr>
            <td></td>
            <td><%=s.autocomplete_field :source_sample_name, processed_samples_autocomplete_processed_sample_barcode_search_path, {value: @lib_samples[i][:source_DNA], placeholder:"-- Source Sample --", class: "form-control"} %></td>
            <td><%= f.collection_select(:alignment_ref_id, @align_refs, :id, :alignment_key, {:include_blank => 'Align Ref'}, class: "form-control", style: "width:102px") %></td>
            <td colspan="3"><%= f.text_field(:notebook_ref, size: 20, placeholder:"-- Notebook Ref --", class: "form-control")%></td>
            <td colspan="4"><%= f.text_field(:notes, size: 75, placeholder:"-- Notes --", class: "form-control")%></td>
          </tr>
          <tr><td colspan="10" class="grey-row-divider"></td></tr>
        </tbody>
        <% end %>
      <% end %>
    <% end %>
      </table><!--/main table-->
  </div><!--/card-->
</div><!--/libs-form-->