<% show_mrn ||= 'yes' %>

<h6>Patient Details:</h6>
<table class="table table-bordered table-sm table-font-sm">
  <thead class="thead-light thead-font-sm">
  <tr>
    <th>Patient ID</th>
    <% if show_mrn == 'yes' && (can? :read, Patient) %><th>MRN</th> <% end %>
    <th>Gender</th>
    <th>Race</th>
    <th>Ethnicity</th>
    <% if show_mrn == 'yes' && (can? :read, Patient) %><th>PHI Notes</th><% end %>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  </thead>

  <tr>
    <td><%=h patient.id %></td>
    <% if show_mrn == 'yes' && (can? :read, Patient) %><td><%= patient.mrn %></td><% end %>
    <td><%=h patient.gender %></td>
    <td><%=h patient.race %></td>
    <td><%=h patient.ethnicity %></td>
    <% if show_mrn == 'yes' && (can? :read, Patient) %><td><%=h patient.hipaa_data %></td><% end %>
    <% if can? :edit, patient %> <td><%= link_to 'Edit', edit_patient_path(patient) %></td><% end %>
    <% if can? :delete, patient %> <td><%= link_to 'Delete', patient, method: :delete, data: { confirm: 'Are you sure?' }%></td><% end %>
  </tr>
</table>
