<h6>Sample H&E:</h6>
<table class="table table-bordered table-sm table-font-sm">
  <thead class="thead-light thead-font-sm">
  <tr>
    <th>H&E barcode</th>
    <th>H&E date</th>
    <th>Pathologist</th>
    <th>Histopathology</th>
    <th>H&E classification</th>
    <th>Tumor cell content</th>
    <% if (can? :edit, histology) %><th></th><% end %>
    <% if (can? :delete, histology) %><th></th><% end %>
  </tr>
  </thead>

  <tr>
    <td><%=link_to histology.he_barcode_key, histology_path(histology) %></td>
    <td><%=h histology.he_date %></td>
    <td><%=h histology.pathologist %></td>
    <td><%=h histology.histopathology %></td>
    <td><%=h histology.he_classification %></td>
    <td><%=h histology.tumor_cell_content %></td>
    <% if (can? :edit, histology) %> <td class="linkborder"><%= link_to 'Edit', edit_histology_path(histology) %></td><% end %>
    <% if (can? :delete, histology) %> <td class="linkborder"><%= link_to 'Delete', histology, method: :delete, data: { confirm: 'Are you sure?' }%></td><% end %>
  </tr>
  <% if !histology.comments.blank? %>
    <tr>
      <td></td><td colspan="5"><%=h histology.comments %></td>
      <% if (can? :edit, histology) %><td></td><% end %>
      <% if (can? :delete, histology) %><td></td><% end %>
    </tr>
  <% end %>
</table>
