<h5>Sequencing Runs (filtered)</h5>

<%= form_tag :action => :export_seqruns do %>
    <%= submit_tag "Export Seq Runs", class: "btn btn-secondary", data: {disable_with: false}-%>
    <br/><br/>

    <%= hidden_field_tag("export_ids_all", @flow_cells.pluck(:id).uniq) %>

    <table class="data-table compact table table-bordered table-striped table-sm table-font-sm">
      <thead class="thead-light">
      <tr>
        <th>LIMS Run#</th>
        <th>Sequencer Run#</th>
        <th># Bases: R1,I1,I2,R2</th>
        <th>Run Description/Notes</th>
        <th>Pub?</th>
        <th class="link-col"></th>
        <% if can? :edit, FlowCell %><th class="link-col"></th><% end %>
        <% if can? :delete, FlowCell %><th class="link-col"></th><% end %>
        <th class="link-col"></th>
      </tr>
      </thead>

      <% @flow_cells.each do |flow_cell| %>
          <tr>
            <%= hidden_field_tag("export_ids_page[]", flow_cell.id) %>

            <td><%=link_to flow_cell.seq_run_key, flow_cell %></td>
            <td><%=h flow_cell.hiseq_xref %></td>
            <td><%=h flow_cell.nr_bases_read1 %>, <%=h flow_cell.nr_bases_index1 %>, <%=h flow_cell.nr_bases_index2 %>, <%=h flow_cell.nr_bases_read2 %> </td>
            <td>
              <% notes_brk = 'no'%>
              <% if !flow_cell.run_description.blank? %><%=h flow_cell.run_description %><% notes_brk = 'yes' %><% end %>
              <% if !flow_cell.notes.blank?%>
                  <% if notes_brk == 'yes'%><br/><% end %>
                  <i><strong>Notes:</strong>&nbsp;&nbsp;<%=h flow_cell.notes %></i>
              <% end %>
            </td>
            <td style="text-align:center"><!--%= link_to flow_cell.for_publication?, :action => 'show_publications', :controller => 'flow_cells', :id => flow_cell.id %--></td>

            <td><%= link_to 'Attach', new_attached_file_path(:rec_type => 'flow_cell', :obj_id => flow_cell.id) %></td>

            <% if can? :edit, flow_cell %>
              <% if flow_cell.flowcell_status == 'F' %>
                <td><%= link_to 'Edit', edit_flow_cell_path(flow_cell) %></td>
              <% else %>
                <td class="ltgrey">Edit</td>
              <% end %>
            <% end %>

            <% if can? :delete, flow_cell  %>
              <% if flow_cell.flowcell_status == 'F' %>
                <td><%= link_to 'Delete', flow_cell, data: {:confirm => 'Are you sure?'}, :method => :delete %></td>
              <% else %>
                <td class="ltgrey">Delete</td>
              <% end %>
            <% end %>

            <% if flow_cell.flowcell_status == 'Q' %>
              <td><!--%= link_to 'QC',   :controller => 'flow_cells',  :action => 'show_qc', :id => flow_cell.id %--></td>
              <td class="grey"><%= flow_cell.flowcell_qc %></td>
            <% else %>
              <td class="grey"><%= flow_cell.flowcell_qc %></td>
            <% end %>
          </tr>

      <% end %>
    </table>

<% end %>