<div class="card">
  <h6 class="card-header">Order Items:</h6>
  <div class="card-body">

    <div class="form-group row">
      <%= f.label(:requester_name, 'Requester', class:"col-auto col-form-label col-form-label-sm") %>
      <div class="col-auto">
        <%=f.select(:requester_name, @researchers, {:include_blank => 'Select requester'}, class: "form-control") %>
      </div>

      <label for="dt_entered" class="col-sm-2 col-form-label col-form-label-sm">Date Entered:</label>
      <div id="dt_entered" class="col-auto">
        <% if @item.new_record? %><%= format_datetime(Time.now) %>
        <% else %><%=h format_datetime(@item.created_at) %><% end %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label(:deliver_site, 'Deliver Site:', class:"col-sm-2 col-form-label col-form-label-sm") %>
      <div class="col-auto">
        <%=f.select(:deliver_site, Item::DELIVER_SITES, {:include_blank => true}, class: "form-control") %>
      </div>

      <label for="grant_nr" class="col-sm-2 col-form-label col-form-label-sm">Grant #:</label>
      <div class="col-auto">
        <%=f.collection_select(:grant_nr, @grant_nrs, :c_value, :c_value, {:include_blank => 'Select..'}, class: "form-control") %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label(:company_name, 'Company:', class:"col-sm-2 col-form-label col-form-label-sm") %>
      <div class="col-auto">
        <%=f.autocomplete_field :company_name, autocomplete_for_company_name_items_path, class: "form-control" %>
      </div>

      <%= f.label(:chemical_flag, 'Chemical?', class:"col-sm-2 col-form-label col-form-label-sm") %>
      <div class="col-auto">
        <%=f.select(:chemical_flag, %w{Y N}, {:include_blank => true}, class: "form-control") %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label(:catalog_nr, 'Catalog#:', class:"col-sm-2 col-form-label col-form-label-sm") %>
      <div class="col-auto">
        <%=f.text_field :catalog_nr, class: "form-control" %>
      </div>

      <%= f.label(:item_description, 'Item Description:', class:"col-sm-2 col-form-label col-form-label-sm") %>
      <div class="col-auto">
        <%=f.text_field(:item_description, size: 60, class: "form-control") %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label(:item_quantity, 'Quantity:', class:"col-sm-2 col-form-label col-form-label-sm") %>
      <div class="col-auto">
        <%=f.text_field :item_quantity, class: "form-control" %>
      </div>

      <%= f.label(:item_size, 'Size/Unit:', class:"col-sm-2 col-form-label col-form-label-sm") %>
      <div class="col-auto">
        <%=f.text_field(:item_size, class: "form-control") %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label(:item_price, 'Unit Price:', class:"col-sm-2 col-form-label col-form-label-sm") %>
      <div class="col-auto">
        <%=f.text_field :item_price, class: "form-control" %>
      </div>

      <%= f.label(:item_ext_price, 'Total:', class:"col-sm-2 col-form-label col-form-label-sm") %>
      <div id="item_ext_price" class="col-auto">
        $<%= f.object.item_ext_price %>
      </div>
      <%= javascript_tag do %>
        $('#item_item_quantity').change(function(){
        $('#item_ext_price').text("$" + $('#item_item_quantity').val() * $('#item_item_price').val());
        });
        $('#item_item_price').change(function(){
        $('#item_ext_price').text("$" + $('#item_item_quantity').val() * $('#item_item_price').val());
        });
      <% end %>
    </div>

    <div class="form-group row">
      <% if controller.action_name != 'new' %>
        <%= f.label(:item_received, "Recv'd:", class:"col-sm-2 col-form-label col-form-label-sm") %>
        <div class="col-auto">
          <%=f.select(:item_received, %w{Y N}, {:include_blank => true}, class: "form-control") %>
        </div>
      <% end %>

      <%= f.label(:notes, 'Notes:', class:"col-sm-2 col-form-label col-form-label-sm") %>
      <div class="col-auto">
        <%=f.text_field :notes, size: 50, class: "form-control" %>
      </div>
    </div>
  </div>
</div>
