    <table class="table table-hover table-sm">
      <thead>
      <tr>
        <th><label for="items_0_nr">Item</label></th>
        <th><label for="items_0_catalog_nr">Catalog#</label></th>
        <th><label for="items_0_company_name">Company Name</label></th>
        <th><label for="items_0_chemical_flag">Chemical?</label></th>
        <th><label for="items_0_item_description">Description</label></th>
        <th><label for="items_0_item_quantity">Qty</label></th>
        <th><label for="items_0_item_size">Unit:Size</label></th>
        <th><label for="items_0_item_price">Price</label></th>
      </tr>
      </thead>

    <% @items.each_with_index do |itm, i| %>
      <%= fields_for 'items_' + i.to_s, itm do |f| %>

        <%= render '/shared/errors', model: itm %>

      <tr>
        <%=f.hidden_field(:requester_name) %>
        <%=f.hidden_field(:deliver_site) %>
        <%=f.hidden_field(:grant_nr) %>

        <td id="<% 'item_' + i.to_s + '_nr' %>">&nbsp;&nbsp;<%= i+1 %></td>
        <td><%= f.autocomplete_field :catalog_nr, autocomplete_for_catalog_nr_items_path, size: '8', class: "form-control" %></td>
        <!-- Update elements on selection of catalog# -->
        <%= javascript_tag do %>
          $('#items_' +  <%= i %> + '_catalog_nr').bind('railsAutocomplete.select', function(event, data){
          $('#items_' + <%= i %> + '_company_name' ).val(data.item.company_name);
          $('#items_' + <%= i %> + '_item_description').val(data.item.desc);
          $('#items_' + <%= i %> + '_item_price').val(data.item.price);
          });
        <% end %>

        <td><%= f.autocomplete_field :company_name, autocomplete_for_company_name_items_path, class: "form-control" %></td>
        <td><%=f.select(:chemical_flag, %w{Y N}, {:size => 6, :include_blank => true}, class: "form-control form-control-sm") %></td>

        <td><%= f.autocomplete_field :item_description, autocomplete_for_item_description_items_path, size: '45', class: "form-control" %></td>
        <!-- Update elements on selection of item description -->
        <%= javascript_tag do %>
          $('#items_' +  <%= i %> + '_item_description').bind('railsAutocomplete.select', function(event, data){
          $('#items_' + <%= i %> + '_catalog_nr').val(data.item.cat_nr);
          $('#items_' + <%= i %> + '_company_name' ).val(data.item.company_name);
          $('#items_' + <%= i %> + '_item_price').val(data.item.price);
          });
        <% end %>

        <% item_total_tag = 'item_' + i.to_s + '_total' %>
        <% item_price_tag = 'items_' + i.to_s + '_item_price' %>
        <% item_qty_tag   = 'items_' + i.to_s + '_item_quantity' %>

        <td><%=f.text_field(:item_quantity, class: "form-control") %></td>
        <td><%=f.text_field(:item_size, class: "form-control") %></td>
        <td><%=f.text_field(:item_price, class: "form-control") %><br />
            <div style="margin-left:-733px">
              <%=f.label(:notes) %>
              <%=f.text_field(:notes, :size => 70, class: "form-control")%></div>
        </td>
        <td id="<%= item_total_tag %>" style="font-size:1em">&nbsp;</td>
        <!-- Update total price if unit price or item quantity changed -->
        <%= javascript_tag do %>
          $('#<%= item_qty_tag %>').change(function(){
          var total_price = ($('#<%= item_qty_tag %>').val() * $('#<%= item_price_tag %>').val()).toFixed(2);
          $('#<%= item_total_tag %>').text("$" + total_price );
          });
          $('#<%= item_price_tag %>').change(function(){
          var total_price = ($('#<%= item_qty_tag %>').val() * $('#<%= item_price_tag %>').val()).toFixed(2);
          $('#<%= item_total_tag %>').text("$" + total_price );
          });
        <% end %>
      </tr>

      <% end %>
    <% end %>
    </table>

<%=submit_tag("Save Items", class: "btn btn-primary") %>
<p></p>
