<%= render 'shared/page_print' %>
<h5>View Item</h5>
<table class="table table-bordered list table-sm table-font-sm">
  <thead class="thead-light">
  <tr>
    <th>Order?</th>
    <th>Requestor</th>
    <th>Date</th>
    <th>Site</th>
    <th>Chem</th>
    <th>Company</th>
    <th>Catalog#/Item</th>
    <th>Qty</th>
    <th>Unit Price</th>
    <th>Total</th>
    <th>Grant</th>
    <th>Recv'd?</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tr>
    <% if @item.ordered? %>
        <td class="dotted_border_bottom"><%=h @item.order.po_number %></td>
    <% else %>
        <td class="dotted_border_bottom">n/a</td>
    <% end %>
    <td class="dotted_border_bottom"><%=h @item.requester_abbrev %></td>
    <td class="dotted_border_bottom" style="white-space:nowrap"><%=h format_date(@item.created_at) %></td>
    <td class="dotted_border_bottom"><%=h @item.deliver_site %></td>
    <td class="dotted_border_bottom" align="center"><%=h @item.chemical_flag%></td>
    <td class="dotted_border_bottom"><%=h @item.company_name %></td>
    <td class="dotted_border_bottom"><%=h @item.catalog_nr %></td>
    <td class="dotted_border_bottom">&nbsp;&nbsp;<%=h @item.item_quantity %></td>
    <td class="dotted_border_bottom"><%=h number_to_currency(@item.item_price) %></td>
    <td class="dotted_border_bottom"><%=h number_to_currency(@item.item_ext_price) %></td>
    <td class="dotted_border_bottom"><%=h @item.grant_nr %></td>
    <td class="dotted_border_bottom" align="center"><%=h @item.item_received %></td>

    <% if can? :edit, @item %>
        <td rowspan=2><%= link_to 'Edit', edit_item_path(@item) %></td>
    <% end %>

    <% if can? :delete, @item %>
        <td rowspan=2><%= link_to 'Delete', @item, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
  <tr>
    <td colspan="5" class="border_bottom_only">&nbsp;</td>
    <td class="border_bottom_only" colspan="3"><%=h @item.item_description %></td>
    <td colspan="2" class="border_bottom_only">&nbsp;</td>
    <td class="border_bottom_only" colspan="2"><%=h @item.notes %></td>
  </tr>
</table>
