<h5>View Image Slide</h5>

<table class="table table-bordered table-sm table-font-sm">
  <thead class="thead-light">
  <tr>
    <th>Slide Number</th>
		<th>Slide Name</th>
    <th>Samples</th>
		<th>Machine Type</th>
		<th>Imaging Run</th>
    <th colspan="2"></th>
  </tr>
  </thead>
  <tr>
    <td><%=h @image_slide.slide_number %></td>
    <td><%=h @image_slide.slide_name %></td>
		<td><%=h @image_slide.samples.collect{|s| s.barcode_key }.join(', ') %></td>
		<td><%=h @image_slide.machine_type %></td>
		<td><% if @image_slide.imaging_run %>
				  <%=h @image_slide.imaging_run.imaging_key %>
				<% end %>
		</td>
    <td><% if can? :edit, @image_slide %><%=link_to 'Edit', edit_image_slide_path(@image_slide) %><% end %></td>
    <td><% if can? :delete, @image_slide %><%=link_to 'Delete', @image_slide, data: {confirm: 'Are you sure?'}, :method => :delete %><% end %></td>
  </tr>
</table>

<%= link_to 'List All image slides', image_slides_path %>
													  