<tr>
	<% prefix = "image_slides_attributes[]" %>
	<%= f.fields_for prefix, image_slide do |s| %>
		<td><%= s.text_field(:slide_position, size: 4, class: "form-control") %></td>
		<td><%=h image_slide.slide_number %></td>
		<td><%=h image_slide.slide_name %></td>
		<%= s.hidden_field(:id, :value => image_slide.id ) %>
	<% end %>
</tr>
