<h5>Listing Imaging Runs</h5>
<table class="table table-bordered table-sm table-font-sm">
  <thead class="thead-light">
  <tr>
    <th>Imaging Key</th>
	  <th>Imaging Alt ID</th>
	  <th>Protocol</th>
		<th>Slide(s)</th>
		<th>Run Description</th>
		<th>Notebook Ref</th>
		<th>Upd By</th>
	  <th colspan="2">&nbsp;</th>
  </tr>
  </thead>

  <% @imaging_runs.each do |imaging_run| %>
  <tr>
		<td><%=h imaging_run.imaging_key %></td>
		<td><%=h imaging_run.imaging_alt_id %></td>
		<td><%=h imaging_run.protocol.short_name %></td>
		<td>
			<% imaging_run.imaging_slides.each_with_index do |imaging_slide, i| %>
				<%= link_to imaging_slide.slide_number, imaging_slide %>
				<% if i < imaging_run.imaging_slides.size - 1 %>, <% end %>
			<% end %>
		</td>
		<td><%=h imaging_run.run_description %></td>
		<td><%=h imaging_run.notebook_ref %></td>
		<td><%=h imaging_run.user.login  %></td>
		<td><% if can? :edit, imaging_run %><%=link_to 'Edit', edit_imaging_run_path(imaging_run) %><% end %></td>
		<td><% if can? :delete, imaging_run %><%=link_to 'Delete', imaging_run, data: {confirm: 'Are you sure?'}, :method => :delete %><% end %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New imaging_run', slide_setup_path %>
