<h5>New Imaging Run</h5>

<%= form_for(@imaging_run) do |f| %>
  <%= render '/shared/errors', model: @imaging_run %>

  <%= render :partial => 'imaging_run_form', :locals => {:f => f} %>
  <br/>
  <%= f.submit 'Create Imaging Run', class: "btn btn-primary" %><br/><br/>

	<h6>Slides to include on Imaging Run</h6>
  <table class="table table-bordered table-sm table-font-sm">
    <thead class="thead-light">
  	<tr>
  	  <th>Slide Number</th>
			<th>Slide Name</th>
			<th>Owner</th>
			<th>Notebook Ref</th>
    </tr>
    </thead>

		<% (0..@image_slides.size-1).each do |i| %>
			<tr><%= render :partial => 'image_slides', :locals => {:image_slide => @image_slides[i], :f => f,
																														 :samples => @image_slides[i].samples} %>
			</tr>
	  <% end %>

  </table>
<% end %>

<br/>
<%= link_to 'Back', :back %>
