<h5>New Imaging Run</h5>

<%= form_for(@imaging_run) do |f| %>
  <%= render '/shared/errors', model: @imaging_run %>

  <%= render :partial => 'imaging_run_form', :locals => {:f => f} %>
  <br/>
  <%= f.submit 'Create Imaging Run', class: "btn btn-primary" %><br/><br/>

	<h6>Slides to include on Imaging Run</h6>
  <table class="table table-bordered table-sm table-font-sm">
    <thead class="thead-light">
  	<tr>
			<th style="width:10%">Slide Position</th>
			<th>Slide Number</th>
			<th>Date</th>
			<th>Description</th>
			<th>Owner</th>
			<th>Notebook Ref</th>
			<th>Remove?</th>
    </tr>
    </thead>

		<% (0..@imaging_slides.size-1).each do |i| %>
			<% position = @positions.nil? ? nil : @positions[i] %>
			<tr><%= render :partial => 'imaging_slides', :locals => {:imaging_slide => @imaging_slides[i], :f => f,
																														 :slide_imaging => SlideImaging.new,
																														 :position => position} %>
			</tr>
	  <% end %>

  </table>
<% end %>

<br/>
<%= link_to 'Back', :back %>
