<h5>Listing freezer containers</h5>

<table class="data-table compact table table-bordered table-striped table-sm table-font-sm">
  <thead class="thead-light">
  <tr>
  	<th>Room</th>
    <th>Freezer</th>
	  <th>Owner</th>
    <th>Container Type</th>
	  <th>Container Name</th>
    <th>Nr of Samples</th>
	  <th class="link-col"></th>
  </tr>
  </thead>

  <% @storage_containers.sort.each do |grp_flds, ssc_count | %>
  <% storage_container = {:room_nr => grp_flds[4],
                          :freezer_nr => grp_flds[5],
                          :owner_name => grp_flds[6],
                          :container_type => grp_flds[1],
                          :container_name => grp_flds[2],
                          :id => grp_flds[3]} %>
  <tr>
  	<td><%=h storage_container[:room_nr] %></td>
	  <td><%=h storage_container[:freezer_nr] %></td>
	  <td><%=h storage_container[:owner_name] %></td>
	  <td><%=h storage_container[:container_type] %></td>
	  <td><%=h storage_container[:container_name] %></td>
	  <td><% if ssc_count > 0 %><%=link_to ssc_count, :action => :list_contents, :id => storage_container[:id] %>
        <% else %><%= ssc_count %><% end %>
    </td>
    <td><% if ssc_count > 0 and can? :edit, storage_container %><%=link_to 'Edit', edit_storage_container_path(storage_container) %>
        <% elsif ssc_count == 0 and can? :delete, storage_container %>
          <%= link_to 'Delete', storage_container_path(storage_container), data: {:confirm => 'Are you sure?'}, :method => :delete %>
        <% else %> &nbsp; <% end %>
    </td>
  </tr>
  <% end %>
</table>

<% if can? :new, StorageContainer.new %>
    <%= link_to 'New storage container', new_storage_container_path(:freezer_location_id => @freezer.id) %>
<% end %>
