<h5>Freezer: <%=h @ss_container.freezer_location.room_and_freezer %>
  Container: <%=h @ss_container.container_type %>&nbsp;<%=h @ss_container.container_name %></h5>

<table class="table table-bordered table-sm table-font-sm">
  <thead class="thead-light">
  <tr>
    <th>Sample Name</th>
    <th>Position</th>
    <th>Sample Type</th>
    <th>Upd By</th>
    <th>&nbsp;</th>
  </tr>
  </thead>

  <% @ss_container.sample_storage_containers.each do |ssc| %>
      <%= hidden_field_tag("export_id[]", ssc.id)  %>
      <tr>
        <td>
          <% if ssc.stored_sample %><%=link_to ssc.sample_name_or_barcode, ssc.stored_sample %>
              <% else %><%=h ssc.sample_name_or_barcode %>
          <% end %>
        </td>
        <td><%=h ssc.position_in_container %></td>
        <td><%=h ssc.type_of_sample %></td>
        <td><% if ssc.user %><%=h ssc.user.login %><% end %></td>
        <td><% if can? :edit, ssc.stored_sample %>
              <%=link_to 'Edit', edit_path_by_type(ssc) %>
          <% end %>
        </td>
      </tr>
      </tr>
  <% end %>
</table>
