<h5>Freezer: <%=h @ss_container.freezer_location.room_and_freezer %>,&nbsp;
  Container: <%=h @ss_container.container_type %>/<%=h @ss_container.container_name %>
  (<%= @container_contents.size %> samples)</h5>

<% if @ss_container.storage_type.display_in_grid? %>
<div id="selector_sc" class="btn-group">
  <button type="button" class="btn active focus btn-xs btn-toggle">Grid</button>&nbsp;
  <button type="button" class="btn disabled btn-xs btn-toggle">List</button>
</div>
<br/>
<% end %>
<br/>

<% if @ss_container.storage_type.display_in_grid? %>
  <div id="container_grid_tab">
    <%= render :partial => 'container_grid' %>
  </div>
  <div id="container_list_tab" style="display:none">
    <%= render :partial => 'container_list' %>
  </div>
<% else %>
  <div id="container_list_tab">
    <%= render :partial => 'container_list' %>
  </div>
<% end %>

<script>
    toggleDiv('selector_sc', 'container_grid_tab', 'container_list_tab');
</script>
