<%= form_tag({:action => 'index'}, { method: :get }) do  %>

<div class="card">
  <h6 class="card-header">Sample Storage Containers Query</h6>
  <div class="card-body">

    <div class="form-group row">
      <label for="freezer_location_freezer_location_id" class="col-sm-2 col-form-label col-form-label-sm">Freezer/Loc:</label>
      <div class="col-auto">
        <%= collection_select(:freezer_location, :freezer_location_id, @freezers, :id, :room_and_freezer, {prompt: 'Select..'}, {class: "form-control"}) %>
      </div>
    </div>
    <div class="form-group row">
      <label for="storage_type_container_type" class="col-sm-2 col-form-label col-form-label-sm">Container Type:</label>
      <div class="col-auto">
        <%= collection_select(:storage_type, :container_type, @storage_types, :container_type, :container_type, {:include_blank => true}, {class: "form-control"}) %>
      </div>
    </div>

  </div>
</div>

  <div class="form-group row">
    <div class="col-auto">
      <%=submit_tag "Submit", class: "btn btn-primary" %>
    </div>
  </div>
<%end%>

<%= render :partial => 'shared/storage_container_data' %>
