<h5>Category: <%= @category.category %></h5>
<span>Description: <%= @category.category_description %></span></br>

<div class="offset-sm-1 col-md-6">
<table class="table table-bordered table-sm table-font-sm">
  <thead class="thead-light">
  <tr>
    <th>Sort order</th>
    <th>Value</th>
  </tr>
  </thead>

  <% for category_value in @category.category_values %>
    <tr>
      <td><%= category_value.c_position %></td>
      <td><%= category_value.c_value %></td>
    </tr>
  <% end %>
</table>
</div>

<% if can? :edit, @category %>
<%= link_to 'Edit', edit_category_path(@category) %> |
<% end %>
<%= link_to 'List All', categories_path %>
