<h5>Listing Selected Patients</h5>

<%= form_tag :action => :export_patients do %>
	<%= submit_tag "Export Patients", class: "btn btn-secondary", data: {disable_with: false} -%>
<br/><br/>

<table class="table table-bordered table-sm table-font-sm">
<thead class="thead-light">
  <tr>
    <th>Patient ID</th>
    <th><% if can? :edit, Patient %>MRN<% else %><% end %></th>
    <th>Organism</th>
    <th>Gender</th>
		<th>Collection Date</th>
		<th>Consent Nr</th>
		<th>Consent Protocol</th>
    <th>Clinic</th>
    <th>Primary Disease</th>
    <th>#Samples</th>
		<th>Tumor/Normal</th>
  </tr>
</thead>
<tbody>
<% @patients.each do |patient| %>
	<% patient.sample_characteristics.each do |s_characteristic| %>
	<tr>
		<td><%=h s_characteristic.patient_id %> </td>
		<td><% if can? :edit, Patient %><%=h patient.mrn %><% else %><% end %></td>
    <td><%=h patient.organism %></td>
		<td><%=h patient.gender %></td>
		<td><%=h s_characteristic.collection_date %></td>
		<td><%=h s_characteristic.consent_nr %></td>
		<td><%=h s_characteristic.consent_protocol.consent_name %></td>
		<td><%=h s_characteristic.clinic_or_location %></td>
		<td><%=h s_characteristic.disease_primary %></td>
		<td><%=link_to s_characteristic.samples.size, sample_characteristic_path(s_characteristic) %></td>
		<% tn_values = s_characteristic.samples.pluck(:tumor_normal).reject(&:blank?) %>
		<td><%= tn_values.size < 2 ? tn_values[0] : arr_tally_to_str(tn_values) %></td>
		<%= hidden_field_tag("export_ids[]", s_characteristic.id)  %>
	</tr>
  <% end %>
	<tr><td colspan=11 style="background-color: #e9e9e9; height:2px"></td></tr>
<% end %>
</tbody>
</table>
<%end %>

